<template>
    <div style=" width: 100%;overflow: hidden;">
      <div style="padding-top: 15px" class="Rolehead_yong" v-if="fage">
        角色名称
        <el-input
          v-model="input2"
          placeholder="用户名"
          :prefix-icon="Search"
          style="width: 150px"
          class="Rolehead_yong_header"
        />
        <el-button type="primary" :icon="Search" class="Rolehead_yong_header"
        @click="Inputs()"
          >搜索</el-button
        >
        <el-button :icon="Delete" class="Rolehead_yong_header"
        @click="dels()"
        >清空</el-button>
      </div>
      <div class="Role_main">
        <div class="Role_main_out">
          <el-button type="primary" @click="Tain()">新郑</el-button>
          <el-button type="danger"  @click.stop="del(roleIds)">批量删除</el-button>
        </div>
        <div class='Role_main_two'>
          <el-tooltip content="刷新" placement="top">
            <!-- <el-icon><Refresh /></el-icon> -->
            <el-button class="Role_icon" :icon="Refresh" @click='Sxin()'></el-button>
          </el-tooltip>
          <el-tooltip content="显隐" placement="top">
            <!-- <el-icon><Menu /></el-icon> -->
            <el-button class="Role_icon" :icon="Menu"></el-button>
          </el-tooltip>
          <el-tooltip content="搜索" placement="top">
            <!-- <el-icon><Search /></el-icon> -->
            <el-button class="Role_icon" :icon="Search" 
            @click='Admin_Sou()'
            ></el-button>
          </el-tooltip>
        </div>
      </div>
      <div>
        <p style="font-size: 12px;">当前表格也选择 <b>0</b> 项<a style="font-size: 10px"> 清 空</a></p>
        <div>
          <el-table
      ref="multipleTableRef"
      :data="tableData"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection"  style='width: 5%' />
      <el-table-column label="角色名称" style='width: 117;' property="roleName"/>
      <el-table-column label="备注" style='width: 117;' property="remark"/>
      <el-table-column label="创建时间" style='width: 117;' property="createTime"/>
      <el-table-column label="操作">
        <template #default="scope">
          <el-button size="small" @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button
          >
          <el-button
            size="small"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
        </div>
      </div>
     
      <Paginato :fath='fath' :page='page' :pageSize='pageSize' @Setpage='Setpage'
      @SetpageSize="'SetpageSize'"
      ></Paginato>
      <el-dialog
    v-model="dialogVisible"
    :title="title"
    width="30%"
    :before-close="handleClose"
  >
  <el-form
  ref="ruleFormRef"
    :model="ruleForm"
    status-icon
    label-width="150px"
    class="demo-ruleForm"
  >
    <el-form-item label="角色名称" prop="checkPass">
      <el-input v-model="ruleForm.checkPass" />
    </el-form-item>
    <el-form-item label="备注" prop="age">
      <el-input v-model="ruleForm.age" />
    </el-form-item>
    <el-form-item label="授权" prop="menuIdList">
      <!-- <el-input v-model="ruleForm.age" /> -->
      <el-tree-v2
      :default-checked-keys="ruleForm.menuIdList"
    :data="tabluet"
    :props="defaultProps"
    node-key="menuId"
    show-checkbox
    @check="handleCheckChange"
    style='height: 208px;width: 100%'
   
  />
    </el-form-item>
    <el-form-item style="display: flex;flex-wrap: nowrap;">
      <el-button type="primary" @click="submitForm(ruleFormRef)"
        >编辑</el-button
      >
      <el-button @click="resetForm(ruleFormRef)">删除</el-button>
    </el-form-item>
  </el-form>
  </el-dialog>
    </div>
  </template>
  <script lang="ts" setup>
  import { ref ,reactive} from "vue";
  import { Calendar, Search } from "@element-plus/icons-vue";
  import { Check, Delete, Edit, Message, Star ,Refresh,Menu,} from "@element-plus/icons-vue";
  import { ElTable } from "element-plus";
import { ElMessageBox } from 'element-plus'
  import {System_Get_Role,Role_Get_Table,Role_Delete_Sys} from '../../../../api/system'
  import type { FormInstance } from 'element-plus'
  import Paginato from '../componend/paginato.vue'
  const ruleFormRef = ref<FormInstance>()
  const input2 = ref("");
  const labelPosition = ref('right')
  const title=ref('')
  let page=1
  let pageSize=10
  
  interface User {
    createTime: string,
    menuIdList: null,
    remark: string,
    roleId: number,
    roleName: string,
  }
  const ruleForm = reactive({
  checkPass: '',
  age: '',
  menuIdList:[]
})
let usernames:any=''
const Inputs=()=>{
  if(input2.value!=""){
    usernames=input2.value
    console.log(123);
    
  }else{
    usernames=''
    console.log(123);
  }
  getset()
}
const dels=()=>{
  input2.value=''
  getset()
}
  const multipleTableRef = ref<InstanceType<typeof ElTable>>()
  const multipleSelection = ref<User[]>([]) 
   const roleIds=ref<number[]>()
  const handleSelectionChange = (val: User[]) => {
    multipleSelection.value = val 
     roleIds.value=multipleSelection.value.map((item)=>item.roleId as number)
     console.log(roleIds.value,'roleIds.value');
  }
  const dlse=(roleIds:any[])=>{

  }
  const del=async(roleIds:number[])=>{
      const res=await Role_Delete_Sys(roleIds)
      tabs()
      console.log(res,'ree');
      console.log(roleIds,'ree');
  }
  const Sxin=()=>{
    tabs()
  }
  const fath=ref()
    const tableData: any =ref([])
  const fage=ref(true)
  const handleEdit = (index: number, row: User) => {
    dialogVisible.value = true
    title.value='编辑'
    ruleForm.checkPass=row.roleName
    ruleForm.age=row.remark
    console.log(index, row)
    tabs()
  }

  const handleDelete =async (index: number, row: User) => {
    console.log(index, row)
    let num=row.roleId as number
    roleIds.value=[num]
    del(roleIds.value)
  }
  const getset=async()=>{
    const result:any=await System_Get_Role(page,pageSize,usernames)
    console.log(result,'data')   
    console.log(result.data.total,'datac')   
    tableData.value=result.data.records
    fath.value=result.data.total
}
getset()
const tabluet: any =ref([])
const tabs=async()=>{
  const {data}:any=await Role_Get_Table()
  console.log(data,'any')
  let mout=[...data].filter((value:any, index:number) => {
    return !value.parentId
  })
  mout.forEach((item:any) => {
    item.children = [];
    data.forEach((v:any) => {
      if (v.parentId === item.menuId) {
        item.children && item.children.push(v);
      }
      item.children?.forEach((a:any) => {
        if (item.menuId === v.menuId) {
          a.children && a.children.push(v);
        }
      });
    });
  });
  console.log(mout,'mout');
  
   tabluet.value=mout
  console.log(tabluet.value,'tabluet.value');
}

const Admin_Sou=()=>{
  console.log(fage);
  fage.value=!fage.value
}
const Setpage=(props:number)=>{
   page=props
  console.log(page,pageSize,'pros');          
  getset()
}
const SetpageSize=(props:number)=>{
   pageSize=props
console.log(page,pageSize,'pros');
getset()
}
const dialogVisible = ref(false)
const handleClose = (done: () => void) => {
  ElMessageBox.confirm('确定退出吗?')
    .then(() => {
      done()
    })
    .catch(() => {
      // catch error
    })
}
const defaultProps = {
  label: "name",
  children: "children",
};
const submitForm = (formEl: FormInstance | undefined) => {
  dialogVisible.value = false
  console.log(ruleForm,'ruleForm');
  
  // if (!formEl) return
  // formEl.validate((valid) => {
  //   if (valid) {
  //     console.log('submit!')
  //   } else {
  //     console.log('error submit!')
  //     return false
  //   }
  // })
}
const resetForm = async(formEl: FormInstance | undefined) => {
  dialogVisible.value = false
  if (!formEl) return
  formEl.resetFields()
}
const Tain=()=>{
  title.value='新增'
  dialogVisible.value = true
  ruleForm.checkPass=''
  ruleForm.age= ''
}
const handleCheckChange = (data: any, info: { checkedKeys: any[],checkedNodes: any, halfCheckedKeys: any[], halfCheckedNodes: any,}) => {
  // ruleForm.menuIdList = checkedKeys.checkedKeys;
   console.log(info.checkedNodes,'info');
  ruleForm.menuIdList=info.checkedNodes[0].children
  console.log( ruleForm.menuIdList,'data,info');
};
  </script>
  <style scoped>
  .demo-pagination-block + .demo-pagination-block {
    margin-top: 10px;
  }
  .demo-pagination-block .demonstration {
    margin-bottom: 16px;
  }
  .Rolehead_yong {
    width: 100%;
    height: 54px;
  }
  .Rolehead_yong_header {
    margin-left: 8px;
  }
  .Role_icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .Role_main{
  width: 100%;
    height: 40px;
    line-height: 40px;
  }
  .Role_main_out{
    float: left;
  }
  .Role_main_two{
    float: right;
  }
  .dialog-footer button:first-child {
  margin-right: 10px;
}
  </style>
  