<template>
    <div class="contentbox">
        <transition name="moveing">
            <!-- 搜索列表 -->
            <div class="top" v-if="searchflag">
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="模板名称">
                        <el-input v-model="formInline.transName" placeholder="模板名称" />
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" :icon="Search" @click="onSubmit">搜索</el-button>
                        <el-button :icon="Delete" @click="resetForm">清空</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </transition>
        <!-- 右上角 -->
        <div class="mid">
            <div class="left">
                <el-button type="primary" :icon="Plus" @click="handleAdd">新增</el-button>
                <el-button size="defalt" type="danger" @click="batchDelete"
                    :disabled="multipleSelection.length ? false : true">批量删除</el-button>
            </div>
            <div class="right">
                <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
                    <template #reference>
                        <el-button :icon="Refresh" circle @click="refresh" />
                    </template>
                </el-popover>
                <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
                    <template #reference>
                        <el-button :icon="Menu" circle @click="setmenu" />
                    </template>
                </el-popover>
                <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
                    <template #reference>
                        <el-button :icon="Search" circle @click="setflag" />
                    </template>
                </el-popover>
            </div>
        </div>
        <div class="checkBox">
            <span>当前表格已选择 <span style="font-weight:600">{{ multipleSelection.length }}</span> 项</span>
            <el-button type="primary" link @click="toggleSelection()">清 空</el-button>
        </div>
        <!-- 表格 -->
        <div class="bottom">
            <el-table v-if="Noticelist.length" :data="Noticelist" stripe border size="defalt" style="width: 100%"
                @selection-change="handleSelectionChange" ref="multipleTableRef"
                :default-sort="{ prop: 'seq', order: 'descending' }">
                <el-table-column align="center" type="selection" min-width="55" />
                <el-table-column align="center" label="模板名称" min-width="164" v-if="noticeShow[0].showIs">
                    <template #default="scope">
                        <span>{{ scope.row.transName }}</span>
                    </template>
                </el-table-column>
                <el-table-column min-width=""></el-table-column>
                <el-table-column align="center" label="操作" min-width="184">
                    <template #default="scope">
                        <el-button size="defalt" type="primary" @click="handleEdit(scope.$index, scope.row)"
                            :icon="EditPen">修改
                        </el-button>
                        <el-button size="defalt" type="danger" @click="handleDelete(scope.$index, scope.row)"
                            :icon="Delete">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-empty v-else description="暂无数据" />
        </div>
        <!-- 公共组件-分页器 -->
        <Pagination :total="Reslist.total" ref="P" @getNotice="getNotice" />
        <!-- 公共组件-新增/修改 -->
        <NoticedialogVue ref="V" :idf="idf" :isadd='isadd' @getNotice="getNotice" @isaddTrue="isaddTrue"
            @isaddFalse="isaddFalse" />
        <!-- 公共组件-穿梭框 -->
        <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" @getNotice="getNotice" />
    </div>
</template>
  
<script lang="ts" setup>
import { onMounted, reactive, ref } from 'vue'
// 接口方法
import { _freight, _deleteFreight } from '../../../../api/store'
// 公共组件-新增/修改
import NoticedialogVue from '../../../../components/store/freight/freightdialog.vue';
// 公共组件-穿梭框
import Transfer from '../../../../components/store/transfer.vue'
// 公共组件-分页器
import Pagination from '../../../../components/store/pagination.vue'
import { Search, Plus, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import { ElMessage, ElMessageBox, ElTable } from 'element-plus'


interface User {
    [x: string]: any;
    id: number,
    shopId: number,
    title: string,
    content: string,
    status: number,
    isTop: number,
    publishTime: string,
    updateTime: string
}
interface Option {
    key: number
    label?: string
    disabled?: boolean
}

onMounted(() => {
    getNotice()
})

const idf = ref<number>(0)
const isadd = ref<boolean>(true)
const V = ref<any>(null)
const T = ref<any>(null)
const P = ref<any>(null)
const Reslist = ref<any>([])
const Noticelist = ref<any>([])
const searchflag = ref(true)
const multipleSelection = ref<User[]>([])
const multipleTableRef = ref<InstanceType<typeof ElTable>>()
// 穿梭框
const arr = ref([0])
const data = ref<Option[]>([
    { key: 0, label: '模板名称', disabled: false },
])

// 双向绑定的数据
const formInline = reactive({
    transName: '',
})

// 穿梭框数据
const noticeShow = reactive([
    { key: 0, showIs: true },
])

// 获取接口数据
const getNotice = async () => {
    const res: any = await _freight({
        current: P.value.current,
        size: P.value.size
    })
    Reslist.value = res.data
    Noticelist.value = res.data.records
    console.log(Noticelist.value);
    console.log(Reslist.value);
}

// 点击新增
const handleAdd = () => {
    isadd.value = true;
    V.value.dialogVisible = true;
}

// 点击修改
const handleEdit = (index: number, row: User) => {
    isadd.value = false;
    V.value.dialogVisible = true;
    console.log(index, row)

    idf.value = row.transportId
}

const isaddTrue = () => {
    isadd.value = true
}

const isaddFalse = () => {
    isadd.value = false
}

// 单个删除
const handleDelete = (index: number, row: User) => {
    console.log(index, row)
    // 二次确认
    ElMessageBox.confirm(
        '确定进行删除操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            let ids = []
            ids.push(row.transportId)
            await _deleteFreight(ids)
            getNotice()
            ElMessage({
                type: 'success',
                message: '删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
}

// 批量删除
const batchDelete = () => {
    // 二次确认
    ElMessageBox.confirm(
        '确定进行删除操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            let ids: number[] = []
            multipleSelection.value.forEach(item => {
                ids.push(item.transportId)
            })
            const res = await _deleteFreight(ids)
            getNotice()
            console.log(res, 'ers');
            ElMessage({
                type: 'success',
                message: '删除成功',
            })

        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
}


// 右上角
const refresh = () => {
    getNotice()
}

const setmenu = () => {
    T.value.dialogTableVisible = true
}

const setflag = () => {
    searchflag.value = !searchflag.value
    console.log(searchflag.value);
}

//   多选
const handleSelectionChange = (val: User[]) => {
    multipleSelection.value = val
    console.log(multipleSelection.value);
}

// 清空选中状态
const toggleSelection = (rows?: User[]) => {
    if (rows) {
        rows.forEach((row) => {
            // TODO: improvement typing when refactor table
            // eslint-disable-next-line @typescript-eslint/ban-ts-comment
            // @ts-expect-error
            multipleTableRef.value!.toggleRowSelection(row, undefined)
        })
    } else {
        multipleTableRef.value!.clearSelection()
    }
}


// 搜索列表
const onSubmit = async () => {
    console.log(formInline);
    const res: any = await _freight({
        current: P.value.current,
        size: P.value.size,
        ...formInline
    })
    Noticelist.value = res.data.records
    Reslist.value = res.data
}
// 重置按钮
const resetForm = () => {
    Object.assign(formInline, {
        transName: ''
    })
}

</script>
  
<style lang="scss" scoped>
.contentbox {
    width: 95%;
    height: 96%;
    padding-top: 15px;
    margin-left: 2.5%;

    .mid {
        min-height: 40px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    .checkBox {
        width: 100%;
        height: 32px;
        line-height: 42px;
    }

    .bottom {
        margin-top: 10px;
    }
}

.el-tag {
    background-color: rgba(2, 161, 233, .1);
    border: 1px solid rgba(2, 161, 233, .2);
}

.el-tag--danger {
    background-color: rgba(245, 108, 108, .1);
    border-color: rgba(245, 108, 108, .2);
}

// 按钮样式
.el-button--primary {
    background-color: #02A1E9;
    width: 73px;
    height: 32px;
}

.el-button--danger {
    width: 73px;
    height: 32px;
}

.el-button {
    font-size: 12px;
}

.checkBox .el-button--primary {
    background: none;
}

// 动画效果
.moveing-enter-active {
    animation: move 0.2s linear;
}

.moveing-leave-active {
    animation: move 0.2s reverse linear;
}

@keyframes move {
    from {
        transform: translateY(-30%);
    }

    to {
        transform: translateY(0px);
    }
}
</style>