<template>
    <div class="Orders">

        <el-dialog v-model="dialogTableVisible" title="修改" :before-close="handleClose">
            <div>
                <p>订单编号：{{ datas.orderNumber }}</p>
                <div>
                    <el-steps :active="datas.status === 5 ? 5 : 0" align-center>
                        <el-step title="提交订单" :description="datas.orderTime" />
                        <el-step title="卖家已付款" :description="datas.payTime" />
                        <el-step title="卖家已发货" :description="datas.dvyTime" />
                        <el-step title="卖家已签收" :description="datas.finallyTime" />
                    </el-steps>
                </div>
                <p>订单状态：<span>{{ datas.status === 1 ? '代付款' : datas.status === 2 ? '待发货' : null }}</span></p>

            </div>
            <div class="main">
                <div class="lifts">
                    <p>卖家付款后才可以发货</p>
                    <div>
                        <p>收货人：{{ datass.receiver }}</p>
                        <p>手机：{{ datass.mobile }}</p>
                        <p>收货地址：{{ datass.province }}{{ datass.city }}{{ datass.area }}{{ datass.addr }}</p>
                        <p>不开发票</p>
                    </div>
                </div>
                <div class="rigths">
                    <p>卖家：</p>
                    <p>买家备注：</p>
                </div>

            </div>
            <div class="buttons">
                <el-table :data="datas.orderItems" border style="width: 100%">

                    <el-table-column prop="pic" label="商品" width="160">
                        <template #default="scope">
                            <img :src="'http://img-test.gz-yami.com/' + scope.row.pic"
                                style="height:100px;width: 100px;" />
                        </template>

                    </el-table-column>
                    <el-table-column prop="prodName" width="400" />
                    <el-table-column align="center" prop="price" label="单价" width="115" />
                    <el-table-column align="center" prop="prodCount" label="数量" width="115" />
                    <el-table-column align="center" prop="productTotalAmount" label="总价" width="115" />
                </el-table>


            </div>
            <p>
                <span>商品总价{{ datas.total }}</span>
            </p>
            <p>
                <span>应付金额{{ datas.actualTotal }}</span>
            </p>
            <div>
                <h4>订单日志</h4>
                <div class="log-cont">
                    <el-form-item v-if="datas.orderTime" label-width="10px">
                        <span>{{ datas.orderTime }} 创建订单（成功）</span>
                    </el-form-item>
                    <el-form-item v-if="datas.updateTime" label-width="10px">
                        <span>{{ datas.updateTime }} 订单更新（成功）</span>
                    </el-form-item>
                    <el-form-item v-if="datas.payTime" label-width="10px">
                        <span>{{ datas.payTime }} 订单付款（成功）</span>
                    </el-form-item>
                    <el-form-item v-if="datas.dvyTime" label-width="10px">
                        <span>{{ datas.dvyTime }} 订单发货（成功）</span>
                    </el-form-item>
                    <el-form-item v-if="datas.finallyTime" label-width="10px">
                        <span>{{ datas.finallyTime }} 完成订单（成功）</span>
                    </el-form-item>
                    <el-form-item v-if="datas.cancelTime" label-width="10px">
                        <span>{{ datas.cancelTime }} 取消订单（成功）</span>
                    </el-form-item>
                </div>
            </div>
        </el-dialog>




    </div>
</template>

<script  lang="ts" setup>
import { defineProps, defineEmits } from 'vue'
import { reactive, ref } from 'vue'
import { toRefs } from 'vue'
import { ORDER } from "../../check/order";
import { Sonorder } from "../../api/login";
import { nextTick, onMounted } from 'vue'

let dialogTableVisible: any = ref(false)
const formLabelWidth = '140px'
const form = reactive({
    name: '',
    region: '',
    date1: '',
    date2: '',
    delivery: false,
    type: [],
    resource: '',
    desc: '',
})
const gridData = [
    {
        date: '2016-05-02',
        name: 'John Smith',
        address: 'No.1518,  Jinshajiang Road, Putuo District',
    },
    {
        date: '2016-05-04',
        name: 'John Smith',
        address: 'No.1518,  Jinshajiang Road, Putuo District',
    },
    {
        date: '2016-05-01',
        name: 'John Smith',
        address: 'No.1518,  Jinshajiang Road, Putuo District',
    },
    {
        date: '2016-05-03',
        name: 'John Smith',
        address: 'No.1518,  Jinshajiang Road, Putuo District',
    },
]
//定义参数 已经选中的ITEMID
const props = defineProps({
    flag: Boolean,
    orderData: Number,

})
interface order {
    actualTotal: number
    addrOrderId: number
    cancelTime: string
    createTime: string
    deleteStatus: number
    dvyFlowId: string
    dvyId: any
    dvyTime: any
    dvyType: any
    finallyTime: any
    freightAmount: number
    isPayed: number
    orderId: number
    // orderItems: 
    orderNumber: string
    payTime: any
    payType: any
    prodName: string
    productNums: number
    reduceAmount: any
    refundSts: number
    remarks: string
    shopId: number
    shopName: any
    status: number
    total: number
    updateTime: string
    // userAddrOrder: {addrOrderId: 2154, addrId: null, userId: null, receiver: '王先生', province: '台湾省', …}
    userId: string
}


dialogTableVisible.value = props.flag
const emits = defineEmits(['funcation'])
const handleClose = (done: () => void) => {
    dialogTableVisible.value = false;
    emits('funcation', false)
}

const datas: any = ref({})
const datass: any = ref({})
const fun = async () => {
    const { data }: any = await Sonorder(props.orderData)
    datas.value = data
    datass.value = data.userAddrOrder
    console.log(datas, datas.value.status, '-----------datas.value.status---------');
    console.log(datass._rawValue, '---------------*-----');
}
onMounted(() => {
    fun()
})

console.log(props.orderData, 'userType')
</script>

<style scoped lang="scss">
p {
    height: 50px;
    line-height: 50px;
}

ol,
ul {
    width: 100%;

    li {
        float: left;
        display: inline-block;
        width: 80px;
        background: pink;
    }
}


.Orders {
    z-index: 999999999;
    width: 100%;
    height: auto;


    div {
        width: 100%;
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .lifts,
    .rigths {
        width: 50% !important;
        height: 250px;

    }

}

.buttons {
    width: 100%;
    height: auto;

}

.el-button--text {
    margin-right: 15px;
}

.el-select {
    width: 300px;
}

.el-input {
    width: 300px;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>