<template>
  <div class="index">
    <transition>
      <div class="tops" v-show="isShow">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
          <el-form-item>
            用户名
            <el-input style="width:180px" v-model="formInline.username" placeholder="用户名称" />
          </el-form-item>
          <el-form-item>
            用户操作
            <el-input style="width:180px" v-model="formInline.operation" placeholder="用户操作" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
            <el-button type="" @click="empty">清空</el-button>
          </el-form-item>
        </el-form>
      </div>
    </transition>
    <div class="he">
      <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
        <template #reference>
          <el-button :icon="Refresh" circle @click="refresh" />
        </template>
      </el-popover>
      <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
        <template #reference>
          <el-button :icon="Menu" circle @click="setmenu" />
        </template>
      </el-popover>
      <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
        <template #reference>
          <el-button :icon="Search" circle @click="isShow = !isShow" />
        </template>
      </el-popover>
      <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" />
    </div>
    <div>
      <div>
        <div class="main">
          <h4>当前表格已选择{{ multipleSelection ? multipleSelection.length : 0 }}项<span @click="kong">清空</span></h4>
          <el-table ref="multipleTableRef" border :data="datas.records" style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column align="center " type="selection" width="60" />
            <el-table-column v-if="noticeShow[0].showIs" align="center " property="username" label="用户名" width="170" />
            <el-table-column v-if="noticeShow[1].showIs" align="center " property="operation" label="用户操作"
              width="170" />
            <el-table-column v-if="noticeShow[2].showIs" align="center " property="method" label="请求方法" width="180" />
            <el-table-column v-if="noticeShow[3].showIs" align="center " property="params" label="请求参数" width="180" />
            <el-table-column v-if="noticeShow[4].showIs" align="center " property="time" label="执行时长(毫秒)" width="170" />
            <el-table-column v-if="noticeShow[5].showIs" align="center " property="ip" label="IP地址" width="170" />
            <el-table-column v-if="noticeShow[6].showIs" align="center " property="createDate" label="创建时间"
              width="170" />
            <el-table-column align="center " property="" label="" width="188" />


          </el-table>

        </div>
      </div>
      <div class="buttom">
        <div class="demo-pagination-block">
          <el-config-provider :locale="locale">
            <el-pagination :page-sizes="[10, 20, 50, 100]" :small="small" :disabled="disabled" :background="background"
              layout="total, sizes, prev, pager, next, jumper" :total="datas.total" @size-change="handleSizeChange"
              @current-change="handleCurrentChange" />
          </el-config-provider>
        </div>
      </div>
    </div>
    <div class="pop-up">

    </div>
  </div>
</template>

<script lang="ts" setup>
import { Timer } from '@element-plus/icons-vue'
import { nextTick, onMounted, reactive } from 'vue'
import { member } from "../../../../api/login";
/* @ts-ignore  */
/* @ts-ignore  */
import Transfer from '../../../../components/store/transfer.vue'
import { ref } from 'vue'
import { Search, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import { ElMessageBox } from 'element-plus'
import { ElMessage } from 'element-plus'
import zhCn from 'element-plus/lib/locale/lang/zh-cn'
import { ORDER } from "../../../../check/order";
import { ElTable } from 'element-plus'
import type { UploadProps } from 'element-plus'
interface User {
  date: string
  name: string
  address: string
}

const multipleTableRef = ref<InstanceType<typeof ElTable>>()
const multipleSelection: any = ref([])

const handleSelectionChange = (val: User[]) => {
  multipleSelection.value = val
  console.log(multipleSelection.value.length, 'multipleSelection');

}
const kong = () => {
  multipleSelection.value = null;
  fun()
}


// 穿梭框
const T = ref<any>(null)
const isShow = ref(true)
interface Option {
  key: number
  label?: string
  disabled?: boolean
}
const arr = ref([0, 1, 2, 3, 4, 5, 6])
const data = ref<Option[]>([
  { key: 0, label: '用户名', disabled: false },
  { key: 1, label: '用户操作', disabled: false },
  { key: 2, label: '请求方法', disabled: false },
  { key: 3, label: '请求参数', disabled: false },
  { key: 4, label: '执行时长', disabled: false },
  { key: 5, label: 'IP地址', disabled: false },
  { key: 6, label: '创建时间', disabled: false },


])
// 右上角  刷新
const refresh = () => {
  fun()
}
const noticeShow = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true },
  { key: 2, showIs: true },
  { key: 3, showIs: true },
  { key: 4, showIs: true },
  { key: 5, showIs: true },
  { key: 6, showIs: true },


])
//穿梭框
const setmenu = () => {
  T.value.dialogTableVisible = true
}
const imageUrl = ref('')

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
  if (rawFile.type !== 'image/jpeg') {
    ElMessage.error('Avatar picture must be JPG format!')
    return false
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error('Avatar picture size can not exceed 2MB!')
    return false
  }
  return true
}

const locale = zhCn
const currentPage4 = ref(4)
const pageSize4 = ref(100)
const small = ref(false)
const background = ref(false)
const disabled = ref(false)
//分页
const size: any = reactive({
  current: 1,
  size: 10
})
const handleSizeChange = (val: number) => {
  size.size = val
  console.log(size, '---size');
  fun()
}
const handleCurrentChange = (val: number) => {
  size.current = val
  console.log(size, '---size');
  fun()
}
const value = ref('')
const options = [
  {
    value: '0',
    label: '禁用',
  },
  {
    value: '1',
    label: '正常',

  },

]
const value1 = ref<[Date, Date]>([
  new Date(2000, 10, 10, 10, 10),
  new Date(2000, 10, 11, 10, 10),
])
const value2 = ref('')

const formInline = reactive({
  username: '',
  operation: '',
})
//查询
const onSubmit = async () => {
  const { data }: any = await member(size, formInline.username, formInline.operation)
  datas.value = data
}
//清空
const empty = () => {
  formInline.username = '';
  formInline.operation = '';
}

const orderData: any = ref('')
const flag: any = ref(false)


const Sonorder = (order: any) => {
  orderData.value = order;
  flag.value = true
  console.log(orderData);

}
const changeNum = (dialogTableVisible: boolean) => {
  flag.value = dialogTableVisible
};
console.log(flag.value, 'flag.value9999');


interface User {
  date: string
  name: string
  address: string
}
//总会员
const datas: any = ref([])
const fun = async () => {
  const { data }: any = await member(size, '', '')
  datas.value = data
}
onMounted(() => {
  fun()
})
const handleEdit = (index: number, row: User) => {
  console.log(index, row)
}
const handleDelete = (index: number, row: User) => {
  console.log(index, row)
}
</script>
<style  lang="scss" scoped>
.index {
  width: 100%;
  height: auto;
  background: #fff;
}

.v-enter-active {
  animation: move 0.5s linear;
}

.v-leave-active {
  animation: move 0.5s linear reverse;
}

@keyframes move {
  from {
    transform: translateY(-40%);
  }

  to {
    transform: translateY(0px);
  }
}

.he {
  width: 95%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.cative {
  background-color: rgba(245, 108, 108, .1);
  border-color: rgba(245, 108, 108, .2);
  color: #F56C6C;
  padding: 0 10px;
  height: 32px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
}

.buttons {
  color: #FFF;
  background-color: #02A1E9;
  border-color: #02A1E9;
}

.out {
  background-color: rgba(2, 161, 233, .1);
  padding: 0 10px;
  height: 32px;
  line-height: 30px;
  font-size: 12px;
  color: #02A1E9;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(2, 161, 233, .2);
  white-space: nowrap;
}

.block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}


.buttom {
  margin-left: 55%;
  margin-bottom: 10px;
  height: 60px;

}

.pop-up {

  z-index: 12;
}
</style>