<template>
    <div class="demo-pagination-block">
        <el-pagination v-model:currentPage="current" v-model:page-size="size" :page-sizes="[10, 20, 30, 40, 50, 100]"
            :small="small" :disabled="disabled" background layout="total, sizes, prev, pager, next, jumper"
            :total="total" @size-change="handleSizeChange" @current-change="handleCurrentChange" />
    </div>
</template>
<script lang="ts" setup>
import { ref, toRefs, defineEmits } from 'vue'

const props = defineProps({
    total: {
        type: Number
    }
})

const { total } = toRefs(props)
const emits = defineEmits(['getNotice'])

const disabled = ref<boolean>(false)
const current = ref<any>(1)
const size = ref<any>(10)
const small = ref<boolean>(false)

const handleSizeChange = (val: number) => {
    console.log(`${val} items per page`)
    emits('getNotice')
}
const handleCurrentChange = (val: number) => {
    console.log(`current page: ${val}`)
    emits('getNotice')
}

defineExpose({
    size,
    current
})
</script>
  
<style scoped>
.demo-pagination-block {
    margin-top: 8px;
    display: flex;
    justify-content: end;
    padding-bottom: 8px;
}
</style>