<template>
    <el-dialog v-model="dialogFormVisible" title="选择商品">

        <el-table :data="dataList" stripe border size="defalt" style="width: 100%" @current-change="handleCurrentChange"
            highlight-current-row>
            <el-table-column align="center" type="index" min-width="55" />
            <el-table-column align="center" label="轮播图片" min-width="164">
                <template #default="scope">
                    <span>{{ scope.row.prodName }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="轮播图片" min-width="164">
                <template #default="scope">
                    <img style="width: 100px; height: 100px" :src="scope.row.pic" />
                </template>
            </el-table-column>
        </el-table>
        <div class="demo-pagination-block">
            <el-pagination v-model:currentPage="current" v-model:page-size="size"
                :page-sizes="[10, 20, 30, 40, 50, 100]" :small="small" :disabled="disabled" background
                layout="total, sizes, prev, pager, next, jumper" :total="proxyList.total"
                @size-change="handleSizeChange" @current-change="handleCurrent" />
        </div>

        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button type="primary" @click="confrime">
                    确定
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { reactive, ref, watch, defineEmits } from 'vue'
import { _pick } from '../../api/store'

interface User {
    [x: string]: any;
    id: number,
    shopId: number,
    title: string,
    content: string,
    status: number,
    isTop: number,
    publishTime: string,
    updateTime: string
}

const emits = defineEmits(['setecard'])

const dialogFormVisible = ref(false)
const dataList = ref<any>([])
const proxyList = ref<any>([])
const currentRow = ref<any>()
const newRow = ref<any>()
const disabled = ref<boolean>(false)
const current = ref<any>(1)
const size = ref<any>(10)
const small = ref<boolean>(true)

const pickajax = async () => {
    const res: any = await _pick({
        current: current.value,
        size: size.value
    })
    dataList.value = res.data.records
    proxyList.value = res.data
    console.log(dataList.value);
}
watch(dialogFormVisible, async (newValue, oldValue) => {
    if (newValue) {
        pickajax()
    }
})

const handleCurrentChange = (val: User | undefined) => {
    currentRow.value = val
    console.log(currentRow.value);
}

const handleSizeChange = (val: number) => {
    console.log(`${val} items per page`)
    pickajax()
}
const handleCurrent = (val: number) => {
    console.log(`current page: ${val}`)
    pickajax()
}

const confrime = () => {
    newRow.value = currentRow.value;
    dialogFormVisible.value = false
    emits('setecard')
}

defineExpose({
    dialogFormVisible,
    newRow
})
</script>
<style scoped>
.el-button--text {
    margin-right: 15px;
}

.el-select {
    width: 300px;
}

.el-input {
    width: 300px;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}

.demo-pagination-block {
    margin-top: 8px;
    display: flex;
    justify-content: end;
}
</style>