<template>
    <el-dialog v-model="dialogTableVisible" width="40%" title="多选">
        <el-transfer v-model="value" :data="props.data" @change="onChange" :titles="['显示', '隐藏']" />
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { ref } from 'vue'

const props: any = defineProps({
    noticeShow: {
        type: Object
    },
    data: {
        type: Array
    },
    arr: {
        type: Array
    }
})

const dialogTableVisible = ref<any>(false)
const value = ref([])


console.log(props.noticeShow, 'qwdqwd');
// 显示隐藏
const onChange = () => {
    props.arr.forEach((item: number, index: number) => {
        let newarr: number[] = Array.from(value.value)
        console.log(newarr,'newarr');
        
        let flag = newarr.includes(item)
        if (flag) {
            props.noticeShow[index].showIs = false
        } else {
            props.noticeShow[index].showIs = true
        }
    })
}

defineExpose({
    dialogTableVisible
})
</script>

<style lang="scss" scoped>
.el-transfer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
</style>