<template>
  <div class="index">
    <div>
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input style="width:180px" v-model="formInline.orderNumber" placeholder="订单编号" />
        </el-form-item>
        <el-form-item>
          <div class="block">
            <el-date-picker type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" />
          </div>
        </el-form-item>
        <el-form-item>
          <el-select v-model="formInline.status" style="width:180px" clearable placeholder="请选择订单状态">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
          <el-button type="primary">导出待发货名单</el-button>
          <el-button type="primary" @click="sale">导出销售记录</el-button>
          <el-button type="" @click="empty">清空</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div>
      <div>
        <div class="main">
          <div class="content">
            <div class="tit">
              <el-row style="width:100%">
                <el-col :span="10"><span class="item product">商品</span></el-col>
                <el-col :span="3"><span class="item">成交单价/购买数量</span></el-col>
                <el-col :span="3"><span class="item">实付金额</span></el-col>
                <el-col :span="3"><span class="item">支付方式</span></el-col>
                <el-col :span="3"><span class="item">订单状态</span></el-col>
                <el-col :span="2"><span class="item">操作</span></el-col>
              </el-row>
            </div>
            <div class="prod" v-for="order in datas.records" :key="order.orderId">
              <div class="prod-tit">
                <span>订单编号：{{ order.orderNumber }}</span>
                <span>下单时间：{{ order.createTime }}</span>
              </div>
              <div class="prod-cont">
                <el-row style="width:100%">
                  <el-col :span="12">
                    <div class="prod-item">
                      <div class="items name" v-for="orderItem in order.orderItems" :key="orderItem.orderItemId">
                        <div class="prod-image">
                          <img :src="'http://img-test.gz-yami.com/' + orderItem.pic" style="height:100px;width: 100px;">
                        </div>
                        <div class="prod-name">
                          <span>{{ orderItem.prodName }}</span>
                          <span class="prod-info">{{ orderItem.skuName }}</span>
                        </div>
                        <div class="prod-price">
                          <span>￥{{ orderItem.price }}</span>
                          <span>X{{ orderItem.prodCount }}</span>
                        </div>
                      </div>
                    </div>
                  </el-col>
                  <el-col :span="3" style="height: 100%;">
                    <div class="item">
                      <div>
                        <span class="totalprice">￥{{ order.actualTotal }}</span>
                        <span v-if="order.freightAmount">(含运费：￥{{ order.freightAmount }})</span>
                        <span>共{{ order.productNums }}件</span>
                      </div>
                    </div>
                  </el-col>
                  <el-col :span="3" style="height: 100%;">
                    <div class="item">
                      <div>
                        <span v-if="order.payType === 1">微信支付</span>
                        <span v-else-if="order.payType === 2">支付宝</span>
                        <span v-else>手动代付</span>
                      </div>
                    </div>
                  </el-col>
                  <el-col :span="3" style="height: 100%;">
                    <div class="item">
                      <span v-if="order.status === 1" size="small" type="danger">待付款</span>
                      <span v-else-if="order.status === 2" size="small" type="danger">待发货</span>
                      <span v-else-if="order.status === 3" size="small" type="danger">待收货</span>
                      <span v-else-if="order.status === 4" size="small" type="danger">待评价</span>
                      <span v-else-if="order.status === 5" size="small" type="danger">成功</span>
                      <span v-else size="small">失败</span>
                    </div>
                  </el-col>
                  <el-col :span="3" style="height: 100%;">
                    <div class="item">
                      <div class="operate">
                        <el-button type="text" size="small" @click="Sonorder(order.orderNumber)">修改</el-button>
                      </div>
                    </div>
                  </el-col>
                </el-row>
              </div>
              <div class="remark">
                <div class="buyer-remark">
                  <span>备注:{{ order.remarks }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttom">
        <div class="demo-pagination-block">
          <el-config-provider :locale="locale">
            <el-pagination :page-sizes="[10, 20, 50, 100]" :small="small" :disabled="disabled" :background="background"
              layout="total, sizes, prev, pager, next, jumper" :total="datas.total" @size-change="handleSizeChange"
              @current-change="handleCurrentChange" />
          </el-config-provider>
        </div>
      </div>
    </div>
    <div>
      <Transfer></Transfer>
    </div>
    <div class="pop-up" v-if="flag">
      <Order_Details :flag="flag" :orderData="orderData" @funcation="funcation"></Order_Details>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Timer } from '@element-plus/icons-vue'
import { nextTick, onMounted, reactive } from 'vue'
import { _order } from "../../../../api/login";
import { ref } from 'vue'
import zhCn from 'element-plus/lib/locale/lang/zh-cn'
/* @ts-ignore  */
import Transfer from "../../../../components/store/transfer.vue";
import { ORDER } from "../../../../check/order";
import useJsonToExcel from "../../../../hook/useJsonTo";
{/* @ts-ignore  */ }
import Order_Details from '../../../../components/Order/Order_Details.vue';
const locale = zhCn
const currentPage4 = ref(4)
const pageSize4 = ref(100)
const small = ref(false)
const background = ref(false)
const disabled = ref(false)
//分页
const size: any = reactive({
  current: 1,
  size: 10
})
const handleSizeChange = (val: number) => {
  size.size = val
  console.log(size, '---size');
  fun()
}
const handleCurrentChange = (val: number) => {
  size.current = val
  console.log(size, '---size');
  fun()
}
const value = ref('')
const options = [
  {
    value: '1',
    label: '待付款',
  },
  {
    value: '2',
    label: '待发货',

  },
  {
    value: '3',
    label: '待收货',
  },
  {
    value: '4',
    label: '待评价',
  },
  {
    value: '5',
    label: '成功',
  }, {
    value: '6',
    label: '失败',
  },
]
const value1 = ref<[Date, Date]>([
  new Date(2000, 10, 10, 10, 10),
  new Date(2000, 10, 11, 10, 10),
])
const value2 = ref('')
const shortcuts = [
  {
    text: 'Last week',
    value: () => {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
      return [start, end]
    },
  },
  {
    text: 'Last month',
    value: () => {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
      return [start, end]
    },
  },
  {
    text: 'Last 3 months',
    value: () => {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
      return [start, end]
    },
  },
]
const formInline = reactive({
  orderNumber: '',
  status: '',
})
//查询
const onSubmit = async () => {
  const { data }: any = await _order(size, formInline.orderNumber, formInline.status)
  datas.value = data
}
//销售
const sale = async () => {
  const { data }: any = await _order(size, '', 5)
  console.log(data, 'data***************');
  const datas = ref({
    orderNumber: '',
    prodName: '',
    productNums: '',
    total: '',
    refundSts: '',
    actualTotal: '',
    userAddrOrder: '',
    dvyTime: ''
  })
  let lists = {}
  for (const iterator of data.records) {

    datas.value.orderNumber = iterator.orderNumber;
    datas.value.prodName = iterator.prodName;
    datas.value.productNums = iterator.productNums;
    datas.value.total = iterator.total;
    datas.value.refundSts = iterator.refundSts;
    datas.value.actualTotal = iterator.actualTotal;
    datas.value.userAddrOrder = iterator.userAddrOrder.province + iterator.userAddrOrder.area;
    datas.value.dvyTime = iterator.dvyTime
    lists = iterator.userAddrOrder

  }
  // const arr: any = ref([]);
  const brr: any = Object.assign(lists, datas.value)
  const arr = [brr]
  console.log(arr, 'returnedTarget--------------s');
  const tabelData = {
    orderNumber: '订单编号',
    prodName: '商品名称',
    receiver: '收件人',
    mobile: '手机号',
    province: '收货地址',
    dvyTime: '下单时间',
    productNums: '数量',
    total: '订单应付',
    refundSts: '订单运费',
    actualTotal: '订单实付',
    userAddrOrder: '收货地址'

  }
  console.log(data, 'data----');

  useJsonToExcel({
    arr,
    header: tabelData,
    fileName: '销售名单.xlsx',
    bookType: 'xlsx'
  })

}
//清空
const empty = () => {
  formInline.orderNumber = '';
  formInline.status = '';
}

const orderData: any = ref('')
const flag: any = ref(false)

//修改
const Sonorder = (order: any) => {
  orderData.value = order;
  funcation(true)
  console.log(orderData);

}
const funcation = (item: any) => {
  flag.value = item
}
const changeNum = (dialogTableVisible: boolean) => {
  flag.value = dialogTableVisible
};
console.log(flag.value, 'flag.value9999');


interface User {
  date: string
  name: string
  address: string
}
//总订单
const datas: any = ref([])
const fun = async () => {
  const { data }: any = await _order(size, '', '')
  datas.value = data
}
onMounted(() => {
  fun()
})
const handleEdit = (index: number, row: User) => {
  console.log(index, row)
}
const handleDelete = (index: number, row: User) => {
  console.log(index, row)
}
</script>
<style  lang="scss" scoped>
.index {
  width: 100%;
  height: auto;
  background: #fff;
}

.block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}

.block:last-child {
  border-right: none;

}

.block .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}

.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.tit {
  display: flex;
  height: 45px;
  align-items: center;
}

.tit .item {
  padding: 0 10px;
  width: 10%;
  text-align: center;
}

.tit .product {
  width: 25%;
}

.prod-tit {
  padding: 10px;

  background: #f8f8f9;
  border-left: 1px solid #dddee1;
  border-top: 1px solid #dddee1;
  border-right: 1px solid #dddee1;
}

.prod-tit span {
  margin-right: 15px;
}

.prod-cont {
  display: flex;
  border-top: 1px solid #dddee1;
  border-bottom: 1px solid #dddee1;
  border-left: 1px solid #dddee1;
  color: #495060;
}

.prod-cont .item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  // width: 10%;
  border-right: 1px solid #dddee1;
  text-align: center;
  height: 100%;
}

.prod-cont .item span {
  display: block;
}

.prod-cont .prod-item {
  // width: 38%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dddee1;
}

.prod-name {
  width: 55%;
  text-align: left;
}

.prod-price {
  position: absolute;
  right: 40px;
  text-align: center;
}

.prod-price span {
  display: block;
  margin-bottom: 10px;
}

.prod-name .prod-info {
  display: block;
  color: #80848f;
  margin-top: 30px;
}

.prod-cont .items.name {
  display: flex;
  position: relative;
  padding: 20px;
  // height: 100px;
  border-bottom: 1px solid #dddee1;
}

.prod-cont .items.name:last-child {
  border-bottom: none;
}

.prod-image {
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

.prod-image img {
  width: 100px;
  height: 100px;
}

.item span {
  display: block;
  margin-bottom: 10px;
}

.item .operate {
  color: #2d8cf0;
}

.item .totalprice {
  color: #c00;
}

.prod .remark {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #e8f7f6;
  border-left: 1px solid #dddee1;
  border-right: 1px solid #dddee1;
  border-bottom: 1px solid #dddee1;
  margin-bottom: 20px;
}

.buyer-remark {
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.demo-pagination-block+.demo-pagination-block {
  margin-top: 10px;
}

.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}

.buttom {
  margin-left: 55%;
  margin-bottom: 10px;
  height: 60px;

}

.pop-up {

  z-index: 12;
}
</style>