<template>
    <el-dialog v-model="dialogVisible" :title="props.isadd ? '新增' : '修改'" width="50%" :before-close="handleClose">
        <el-form :model="form" label-width="120px">
            <el-form-item label="公告标题" :rules="[{ required: true, message: `不能为空` }]">
                <el-input v-model="form.title" />
            </el-form-item>
            <el-form-item label="状态">
                <el-radio-group v-model="form.status">
                    <el-radio :label=1>公布</el-radio>
                    <el-radio :label=0>撤销</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="置顶">
                <el-radio-group v-model="form.isTop">
                    <el-radio :label=1>是</el-radio>
                    <el-radio :label=0>否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="公告内容">
                <el-input v-model="form.content" type="textarea" />
            </el-form-item>
            <el-form-item>
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit">确定</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { ref, reactive, watch, toRefs, defineEmits, watchEffect } from 'vue'
import { ElMessageBox, ElMessage } from 'element-plus'
import { _addNotice, _geteditNotice, _editNotice } from '../../../api/store'

const emits = defineEmits(['getNotice'])
const props = defineProps({
    isadd: {
        type: Boolean
    },
    idf: {
        type: Number
    }
})
const { idf } = toRefs(props)
const dialogVisible = ref<any>(false)
const editList = ref<any>([])

const form = reactive({
    title: '',
    status: 1,
    isTop: 1,
    content: ''
})


watch(idf as any, async (newValue, oldValue) => {
    if (newValue) {
        const res: any = await _geteditNotice(newValue)
        editList.value = res.data
        Object.assign(form, res.data)
    } else {
        Object.assign(form, editList.value)
    }
})

watchEffect(() => {
    if (props.isadd) {
        Object.assign(form, {
            title: '',
            status: 1,
            isTop: 1,
            content: ''
        })
    } else {
        Object.assign(form, editList.value)
    }
})


const onSubmit = async () => {
    if (props.isadd) {
        if (form.title !== '') {
            await _addNotice(form)
            Object.assign(form, {
                title: '',
                status: 1,
                isTop: 1,
                content: ''
            })
            ElMessage({
                type: 'success',
                message: '新增成功',
            })
        } else {
            ElMessage({
                message: '公告标题不得为空',
                type: 'warning',
            })
        }
        emits('getNotice')
    } else {
        await _editNotice(form)
        emits('getNotice')
        ElMessage({
            type: 'success',
            message: '修改成功',
        })
    }
    dialogVisible.value = false
}

const handleClose = (done: () => void) => {
    ElMessageBox.confirm(`确定要关闭${props.isadd ? '新增' : '编辑'}窗口吗?`)
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}

defineExpose({
    dialogVisible
})

</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>