<template>
    <div class="index">

        <transition>
            <div class="tops" v-show="isShow" v-if="son">

                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item>
                        <el-input style="width:180px" v-model="formInline.nickName" placeholder="用户名称" />
                    </el-form-item>
                    <el-form-item>
                        <el-select v-model="formInline.status" style="width:180px" clearable placeholder="状态">
                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                :value="item.value" />
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                        <el-button type="" @click="empty">清空</el-button>
                    </el-form-item>
                </el-form>


            </div>
        </transition>
        <div class="he">
            <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
                <template #reference>
                    <el-button :icon="Refresh" circle @click="refresh" />
                </template>
            </el-popover>
            <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
                <template #reference>
                    <el-button :icon="Menu" circle @click="setmenu" />
                </template>
            </el-popover>
            <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
                <template #reference>
                    <el-button :icon="Search" circle @click="isShow = !isShow" />
                </template>
            </el-popover>
            <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" />
        </div>
        <div>
            <div>
                <div class="main">
                    <el-table :data="datas.records" border style="width: 100%">
                        <el-table-column v-if="noticeShow[0].showIs" align="center " prop="nickName" label="用户昵称"
                            width="180" />
                        <el-table-column v-if="noticeShow[1].showIs" align="center " prop="name" label="用户头像"
                            width="180">
                            <template #default="scope">
                                <img v-if="scope.row.pic != 'https://thirdwx.qlogo.cn/null'" :src="scope.row.pic" />
                            </template>
                        </el-table-column>
                        <el-table-column v-if="noticeShow[2].showIs" align="center " prop="status" label="状态">
                            <template #default="scope">

                                <el-button size="small" type="danger"
                                    :class="scope.row.status === 0 ? 'cative' : 'out'">
                                    {{ scope.row.status === 0 ? '禁用' : '正常' }}</el-button>
                            </template>
                        </el-table-column>
                        <el-table-column v-if="noticeShow[3].showIs" align="center " prop="userRegtime" label="注册时间" />
                        <el-table-column align="center " prop="" label="操作">
                            <template #default="scope">

                                <el-button size="small" class="buttons" type="danger"
                                    @click="handleDelete(scope.$index, scope.row)">
                                    编辑</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
            <div class="buttom">
                <div class="demo-pagination-block">
                    <el-config-provider :locale="locale">
                        <el-pagination :page-sizes="[10, 20, 50, 100]" :small="small" :disabled="disabled"
                            :background="background" layout="total, sizes, prev, pager, next, jumper"
                            :total="datas.total" @size-change="handleSizeChange"
                            @current-change="handleCurrentChange" />
                    </el-config-provider>
                </div>
            </div>
        </div>
        <div class="pop-up">
            <el-dialog class="main" v-model="dialogVisible" title="修改" width="30%" :before-close="handleClose">
                <div v-if="head"><span>用户头像</span>
                    <img :src="imgs" />

                </div>
                <p>用户昵称：
                    <el-input type="text" v-model="fromlist.name" disabled />
                </p>
                <div class="staus"><span>状态：</span>
                    <div class="mb-2 flex items-center text-sm">
                        <el-radio-group v-model="radio1" class="ml-4">
                            <el-radio label="1" size="large">禁用</el-radio>
                            <el-radio label="2" size="large">正常</el-radio>
                        </el-radio-group>
                    </div>
                </div>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button @click="dialogVisible = false">取消</el-button>
                        <el-button type="primary" @click="putuse">
                            确定
                        </el-button>
                    </span>
                </template>
            </el-dialog>
        </div>

    </div>
</template>
  
<script lang="ts" setup>
import { Timer } from '@element-plus/icons-vue'
import { nextTick, onMounted, reactive } from 'vue'
import { admin, put_admin } from "../../../../api/login";
/* @ts-ignore  */
import Son_member from "../../../../components/Memter/Son_member.vue";
import { ref } from 'vue'
import zhCn from 'element-plus/lib/locale/lang/zh-cn'
import { ORDER } from "../../../../check/order";
import { ElMessageBox } from 'element-plus'
import { ElMessage } from 'element-plus'
import { Plus } from '@element-plus/icons-vue'
/* @ts-ignore  */
import Transfer from '../../../../components/store/transfer.vue'
import { Search, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import type { UploadProps } from 'element-plus'
import { arrow } from '@popperjs/core';

// 穿梭框
const T = ref<any>(null)
const isShow = ref(true)
interface Option {
    key: number
    label?: string
    disabled?: boolean
}
const arr = ref([0, 1, 2, 3, 4, 5, 6])
const data = ref<Option[]>([
    { key: 0, label: '用户昵称', disabled: false },
    { key: 1, label: '用户头像', disabled: false },
    { key: 2, label: '状态', disabled: false },
    { key: 3, label: '注册时间', disabled: false },


])
// 右上角  刷新
const refresh = () => {
    fun()
}
const noticeShow = reactive([
    { key: 0, showIs: true },
    { key: 1, showIs: true },
    { key: 2, showIs: true },
    { key: 3, showIs: true },


])
//穿梭框
const setmenu = () => {
    T.value.dialogTableVisible = true
}
const imageUrl = ref('')

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
    if (rawFile.type !== 'image/jpeg') {
        ElMessage.error('Avatar picture must be JPG format!')
        return false
    } else if (rawFile.size / 1024 / 1024 > 2) {
        ElMessage.error('Avatar picture size can not exceed 2MB!')
        return false
    }
    return true
}
const itemError = (item: any) => {
    console.log(888, item);

    return item = ''

}
const dialogVisible = ref(false)
const handleClose = (done: () => void) => {
    ElMessageBox.confirm('确定要关闭嘛?')
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}
const fromlist: any = ({
    name: '',

})
const son = ref(true)
const sou = () => {
    son.value = !son.value
}
const imgs: any = ref('')
const uselist: any = ref({})
const handleDelete = (index: number, row: any) => {
    dialogVisible.value = true
    console.log(index, row)
    uselist.value = row
    fromlist.name = row.nickName
    if (row.status === 1) {
        radio1.value = '2'
    } else {
        radio1.value = '1'
    }

    if (row.pic) {
        if (row.pic.slice(25, row.pic.length) === 'null') {
            console.log('9999');
            console.log(row.pic.slice(25, row.pic.length), '截取----------');

            head.value = true
            imgs.value = row.pic;
        }
        head.value = false

    } else {
        head.value = false
    }
}
const radio1 = ref('1')
const locale = zhCn
const small = ref(false)
const background = ref(false)
const disabled = ref(false)
const head = ref(false)
//分页
const size: any = reactive({
    current: 1,
    size: 10
})
const handleSizeChange = (val: number) => {
    size.size = val
    console.log(size, '---size');
    fun()
}
const handleCurrentChange = (val: number) => {
    size.current = val
    console.log(size, '---size');
    fun()
}
const value = ref('')
const options = [
    {
        value: '0',
        label: '禁用',
    },
    {
        value: '1',
        label: '正常',

    },

]
const value1 = ref<[Date, Date]>([
    new Date(2000, 10, 10, 10, 10),
    new Date(2000, 10, 11, 10, 10),
])
const value2 = ref('')

const formInline = reactive({
    nickName: '',
    status: '',
})
//查询
const onSubmit = async () => {
    const { data }: any = await admin(size, formInline.nickName, formInline.status)
    datas.value = data
}
//清空
const empty = () => {
    formInline.nickName = '';
    formInline.status = '';
}

const orderData: any = ref('')
const flag: any = ref(false)
const Sonorder = (order: any) => {
    orderData.value = order;
    flag.value = true
}
const changeNum = (dialogTableVisible: boolean) => {
    flag.value = dialogTableVisible
};
interface User {
    date: string
    name: string
    address: string
}
//总会员
const datas: any = ref([])
const fun = async () => {
    const { data }: any = await admin(size, '', '')
    datas.value = data
}
onMounted(() => {
    fun()
})
const Son = ref(0)
const putuse = async () => {
    dialogVisible.value = false

    if (radio1.value === '1') {
        Son.value = 0
    } else {
        Son.value = 1
    }
    const brr = {
        nickName: uselist.value.nickName,
        status: Son.value,
        userId: uselist.value.userId,
    }
    console.log(brr, 'brr --');
    const wu = await put_admin(brr)
    fun()
}


const handleEdit = (index: number, row: User) => {
    console.log(index, row)


}

</script>
<style  lang="scss" scoped>
.index {
    width: 100%;
    height: auto;
    background: #fff;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}

.v-enter-active {
    animation: move 0.5s linear;
}

.v-leave-active {
    animation: move 0.5s linear reverse;
}

@keyframes move {
    from {
        transform: translateY(-40%);
    }

    to {
        transform: translateY(0px);
    }
}

.he {
    width: 95%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.el-dialog {
    width: 500px !important;

    h4,
    p {
        height: 50px;
    }

    .staus {
        display: flex;

        span {
            height: 40px;
            width: 50px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
        }
    }
}

.tops {
    margin-left: 1%;
    width: 90%;
    height: 50px;
    line-height: 60px;


}

.cative {
    background-color: rgba(245, 108, 108, .1);
    border-color: rgba(245, 108, 108, .2);
    color: #F56C6C;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
}

.buttons {
    color: #FFF;
    background-color: #02A1E9;
    border-color: #02A1E9;
}

.out {
    background-color: rgba(2, 161, 233, .1);
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    color: #02A1E9;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(2, 161, 233, .2);
    white-space: nowrap;
}

.block {
    padding: 30px 0;
    text-align: center;
    border-right: solid 1px var(--el-border-color);
    flex: 1;
}

.block:last-child {
    border-right: none;

}

.block .demonstration {
    display: block;
    color: var(--el-text-color-secondary);
    font-size: 14px;
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.tit {
    display: flex;
    height: 45px;
    align-items: center;
}

.tit .item {
    padding: 0 10px;
    width: 10%;
    text-align: center;
}

.tit .product {
    width: 25%;
}

.prod-tit {
    padding: 10px;

    background: #f8f8f9;
    border-left: 1px solid #dddee1;
    border-top: 1px solid #dddee1;
    border-right: 1px solid #dddee1;
}

.prod-tit span {
    margin-right: 15px;
}

.prod-cont {
    display: flex;
    border-top: 1px solid #dddee1;
    border-bottom: 1px solid #dddee1;
    border-left: 1px solid #dddee1;
    color: #495060;
}

.prod-cont .item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    // width: 10%;
    border-right: 1px solid #dddee1;
    text-align: center;
    height: 100%;
}

.prod-cont .item span {
    display: block;
}

.prod-cont .prod-item {
    // width: 38%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dddee1;
}

.prod-name {
    width: 55%;
    text-align: left;
}

.prod-price {
    position: absolute;
    right: 40px;
    text-align: center;
}

.prod-price span {
    display: block;
    margin-bottom: 10px;
}

.prod-name .prod-info {
    display: block;
    color: #80848f;
    margin-top: 30px;
}

.prod-cont .items.name {
    display: flex;
    position: relative;
    padding: 20px;
    // height: 100px;
    border-bottom: 1px solid #dddee1;
}

.prod-cont .items.name:last-child {
    border-bottom: none;
}

.prod-image {
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.prod-image img {
    width: 100px;
    height: 100px;
}

.item span {
    display: block;
    margin-bottom: 10px;
}

.item .operate {
    color: #2d8cf0;
}

.item .totalprice {
    color: #c00;
}

.prod .remark {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #e8f7f6;
    border-left: 1px solid #dddee1;
    border-right: 1px solid #dddee1;
    border-bottom: 1px solid #dddee1;
    margin-bottom: 20px;
}

.buyer-remark {
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.demo-pagination-block+.demo-pagination-block {
    margin-top: 10px;
}

.demo-pagination-block .demonstration {
    margin-bottom: 16px;
}

.buttom {
    margin-left: 55%;
    margin-bottom: 10px;
    height: 60px;

}

.pop-up {

    z-index: 12;
}

.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}


.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}
</style>