<template>
    <div class="mians">
        <el-button type="primary" @click="onSubmit">新增</el-button>
        <el-table :data="datas" style="width: 100%; margin-bottom: 20px" row-key="menuId" border>
            <el-table-column align="center " prop="name" label="名称" width="180" />
            <el-table-column align="center " prop="icon" label="图标" width="180" />
            <el-table-column align="center " prop="type" label="类型" width="180">
                <template #default="scope">
                    <el-button class="buttons"
                        :class="scope.row.type === 0 ? 'mu' : scope.row.type === 1 ? 'cai' : 'an'">
                        {{ scope.row.type === 0 ? '目录' : scope.row.type === 1 ? '菜单' : '按钮' }}
                    </el-button>

                </template>
            </el-table-column>
            <el-table-column align="center " prop="orderNum" label="排序号" width="180" />
            <el-table-column align="center " prop="url" label="菜单URL" width="180" />
            <el-table-column align="center " prop="perms" label="授权标识" width="180" />
            <el-table-column align="center " prop="" label="操作" width="180">
                <template #default="scope">
                    <el-button class="buttons" @click="handleDelete(scope.$index, scope.row)">
                        修改</el-button>
                    <el-button class="buttons" @click="handleDeletes(scope.$index, scope.row)">
                        删除</el-button>
                </template>

            </el-table-column>
        </el-table>
        <div>


            <el-dialog v-model="dialogVisible" :title="zhi" width="30%" :before-close="handleClose">
                <div>
                    <div class="lei">
                        <span>类型</span>
                        <div class="mb-2 flex items-center text-sm">
                            <el-radio-group v-model="radio1" class="ml-4" @change="redios">
                                <el-radio label="1" size="large">目录</el-radio>
                                <el-radio label="2" size="large">菜单</el-radio>
                                <el-radio label="3" size="large">按钮</el-radio>
                            </el-radio-group>
                        </div>
                    </div>
                    <div :class="radio1 === '1' ? 'mul' : 'null'">
                        <div style="margin: 20px" />
                        <el-form ref="ruleFormRef" :model="ruleForm" status-icon :rules="rules" label-width="120px"
                            class="demo-ruleForm">
                            <el-form-item label="目录名称" prop="pass">
                                <el-input v-model="ruleForm.name" autocomplete="off" />
                            </el-form-item>
                            <el-form-item label="上级菜单" prop="checkPass">

                                <div class="example-block">
                                    <el-cascader v-model="ruleForm.checkPass" :options="newDatas" :props="props1"
                                        clearable />
                                </div>
                            </el-form-item>
                            <el-form-item label="排序号" prop="age">
                                <el-input-number v-model="ruleForm.age" :min="0" :max="10" controls-position="right"
                                    size="large" @change="handleChange" />

                            </el-form-item>
                            <el-form-item label="菜单图标" prop="num">
                                <el-input v-model.number="ruleForm.num" />
                            </el-form-item>

                        </el-form>


                    </div>
                    <div :class="radio1 === '2' ? 'caid' : 'null'">


                        <el-form :label-position="labelPosition2" label-width="100px" :model="formLabelAlign2"
                            style="max-width: 460px">
                            <el-form-item label="菜单名称">
                                <el-input v-model="formLabelAlign2.name" />
                            </el-form-item>
                            <el-form-item label="上级菜单">
                                <div class="example-block">
                                    <el-cascader :options="newDatas" v-model="formLabelAlign2.name1" :props="props1"
                                        clearable />
                                </div>
                            </el-form-item>

                            <el-form-item label="菜单路由">
                                <el-input v-model="formLabelAlign2.name2" />
                            </el-form-item>
                            <el-form-item label="授权标识">
                                <el-input v-model="formLabelAlign2.name3" />
                            </el-form-item>
                            <el-form-item label="排序号">
                                <el-input-number v-model="formLabelAlign2.name4" :min="0" :max="10"
                                    controls-position="right" size="large" @change="handleChange" />

                            </el-form-item>
                            <el-form-item label="菜单图标">
                                <el-input v-model="formLabelAlign2.name5" />
                            </el-form-item>
                        </el-form>
                    </div>
                    <div :class="radio1 === '3' ? 'ann' : 'null'">
                        <el-form :label-position="formLabelAlign3" label-width="100px" :model="formLabelAlign3"
                            style="max-width: 460px">
                            <el-form-item label="按钮名称">
                                <el-input v-model="formLabelAlign3.name" />
                            </el-form-item>
                            <el-form-item label="上级菜单">
                                <div class="example-block">
                                    <el-cascader v-model="formLabelAlign3.name1" :options="newDatas" :props="props1"
                                        clearable />
                                </div>
                            </el-form-item>

                            <el-form-item label="菜单路由">
                                <el-input v-model="formLabelAlign3.name2" />
                            </el-form-item>

                        </el-form>
                    </div>
                </div>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button @click="dialogVisible = false">取消</el-button>
                        <el-button type="primary" @click="resetForm(ruleFormRef)">
                            确定
                        </el-button>
                    </span>
                </template>
            </el-dialog>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { menuLIist, _login, menuLIist_delete, add_menuLIist, put_menuLIist } from '../../../../api/login';
import { nextTick, onMounted, reactive } from 'vue'
import { ref } from 'vue'
import { ElMessageBox } from 'element-plus'
import type { FormInstance } from 'element-plus'
import { ElMessage } from 'element-plus'

const open = async (row: any) => {
    ElMessageBox.confirm(
        '确定要删除嘛?',
        '删除',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {

            const brr = await menuLIist_delete(row)

            fun()
        })
        .catch(() => {

        })
}
const ruleForm: any = reactive({
    name: '',
    checkPass: '',
    age: '',
    num: ''
})
const formLabelAlign2 = reactive({
    name: '',
    name1: '',
    name2: '',
    name3: '',
    name4: '',
    name5: '',

})
const formLabelAlign3 = reactive({
    name: '',
    name1: '',
    name2: ''
})
const putlist: any = ref({})
const handleDelete = (index: number, row: any) => {
    dialogVisible.value = true
    zhi.value = '编辑';
    putlist.value = row;
    putlist.checkPass = row.menuId

    ruleForm.name = row.name;
    ruleForm.age = row.orderNum;
    ruleForm.num = row.icon;
    formLabelAlign2.name = row.name;
    formLabelAlign2.name2 = row.url;
    formLabelAlign2.name3 = row.perms;
    formLabelAlign2.name4 = row.orderNum;
    formLabelAlign2.name5 = row.icon;
    formLabelAlign3.name = row.name
    formLabelAlign3.name2 = row.perms



}
const ruleFormRef = ref<FormInstance>()
const resetForm = async (formEl: FormInstance | undefined) => {
    if (zhi.value === '新增') {
        if (radio1.value === '1') {
            const ha = radio1.value - 1;
            const zhi = ruleForm.checkPass;
            const arr = {

                icon: ruleForm.num,
                name: ruleForm.name,
                orderNum: ruleForm.age,
                parentId: zhi[zhi.length - 1],
                perms: "",
                type: ha,
                url: '',
            }
            const data: any = await add_menuLIist(arr)
            if (data.status === 200) {
                fun()
                dialogVisible.value = false;
            }

        } else if (radio1.value === '2') {
            const ha = radio1.value - 1;
            const zhi = formLabelAlign2.name1;
            const arr = {
                icon: formLabelAlign2.name5,
                name: formLabelAlign2.name,
                orderNum: formLabelAlign2.name4,
                parentId: zhi[zhi.length - 1],
                perms: formLabelAlign2.name3,
                type: ha,
                url: formLabelAlign2.name2,
            }
            console.log(arr, 'arr');
            const data: any = await add_menuLIist(arr)
            if (data.status === 200) {
                fun()
                dialogVisible.value = false;
            }
            console.log(data, 'data');
            console.log(ruleForm, 'ruleForm');
        } else if (radio1.value === '3') {
            const ha = radio1.value - 1;
            const zhi = formLabelAlign3.name1;
            const arr = {
                icon: '',
                name: formLabelAlign3.name,
                orderNum: '',
                parentId: zhi[zhi.length - 1],
                perms: '',
                type: ha,
                url: formLabelAlign3.name2,
            }
            console.log(arr, 'arr');
            const data: any = await add_menuLIist(arr)
            if (data.status === 200) {
                fun()
                dialogVisible.value = false;
            }
            console.log(data, 'data');
            console.log(ruleForm, 'ruleForm');
        }
    } else if (zhi.value === '编辑') {
        if (radio1.value === '1') {


            const ha = radio1.value - 1;
            const zhi = ruleForm.checkPass;
            const arr = {
                icon: ruleForm.num,
                name: ruleForm.name,
                menuId: putlist.value.menuId,
                orderNum: ruleForm.age,
                parentId: zhi[zhi.length - 1],
                perms: putlist.value.perms,
                type: putlist.value.type,
                url: putlist.value.url,
            }


            const data: any = await put_menuLIist(arr)
            if (data.status === 200) {
                fun()
                dialogVisible.value = false;
            }

        } else if (radio1.value === '2') {
            const ha = radio1.value - 1;
            const zhi = ruleForm.checkPass;
            console.log(putlist.value.parentId, 'putlist.value.parentId');
            const val = putlist.value.parentId;
            const arr = {
                icon: formLabelAlign2.name5,
                name: formLabelAlign2.name,
                menuId: putlist.value.menuId,
                orderNum: formLabelAlign2.name4,
                parentId: val,
                perms: formLabelAlign2.name3,
                type: putlist.value.type,
                url: formLabelAlign2.name2,
            }
            console.log(arr, 'arr-6666666666------------');

            const data: any = await put_menuLIist(arr)
            if (data.status === 200) {
                fun()
                dialogVisible.value = false;
            }

        } else if (radio1.value === '3') {
            const ha = radio1.value - 1;
            const zhi = ruleForm.checkPass;
            console.log(putlist.value.parentId, 'putlist.value.parentId');
            const val = putlist.value.parentId;
            const arr = {
                icon: putlist.value.icon,
                name: formLabelAlign3.name,
                menuId: putlist.value.menuId,
                orderNum: ruleForm.age,
                parentId: val,
                perms: putlist.value.perms,
                type: putlist.value.type,
                url: formLabelAlign3.name2,
            }
            console.log(arr, 'arr-----999--------');

            const data: any = await put_menuLIist(arr)
            if (data.status === 200) {
                fun()
                dialogVisible.value = false;
            }
        }
    }







}
const mulu = () => {

}
const labelPosition2 = ref('right')


const labelPosition3 = ref('right')


const labelPosition = ref('right')

const formLabelAlign = reactive({
    name: '',
    region: '',
    type: '',
})
const checkAge = (rule: any, value: any, callback: any) => {
    if (!value) {
        return callback(new Error('Please input the age'))
    }


    callback()


}

const validatePass = (rule: any, value: any, callback: any) => {
    if (value === '') {
        callback(new Error('Please input the password'))
    } else {

        callback()
    }
}
const validatePass2 = (rule: any, value: any, callback: any) => {
    if (value === '') {
        callback(new Error('Please input the password again'))
    } else {
        callback()
    }
}




const rules = reactive({
    pass: [{ validator: validatePass, trigger: 'blur' }],
    checkPass: [{ validator: validatePass2, trigger: 'blur' }],
    age: [{ validator: checkAge, trigger: 'blur' }],
})
//菜单添加
const haa = ref({})



const num = ref(1)
const handleChange = (value: number) => {

}
const props1 = {
    checkStrictly: true,
    value: 'id',
    label: 'value'
}



const dialogVisible = ref(false)
const radio1: any = ref('1')
const val = ref(false)
const zhi = ref('新增')
const onSubmit = () => {
    dialogVisible.value = true
    zhi.value = '新增';

}

const handleDeletes = async (index: number, row: any) => {
    open(row.menuId)



}
const handleClose = (done: () => void) => {
    ElMessageBox.confirm('确定要关闭嘛?')
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}
interface User {
    id: number
    date: string
    name: string
    hasChildren?: boolean
    children?: User[]
}
const expands = ref([]);
const redios = () => {
    console.log(radio1.value, 'radio1s');
}
const datas: any = ref([])
const List: any = reactive({
    value: [],
    label: []
})
const newDatas: any = ref([])
const arr = (data: any) => {
    const newData = data?.map((item: any) => {
        if (item.children) {
            return {
                id: item.menuId,
                value: item.name,
                label: item.name,
                children: arr(item.children)
            }
        }
        return {
            name: item.name,
        }
    })

    return newData
}
const fun = async () => {
    const { data }: any = await menuLIist()
    datas.value = dataToTree(data, 0, []);
    newDatas.value = arr(datas.value)
}
onMounted(() => {
    fun()
})
const dataToTree = (datalist: any, id: number, list: any) => {
    for (let item of datalist) {
        if (item.parentId === id) {
            list.push(item)
        }
    }
    for (let i of list) {
        i.children = [];
        dataToTree(datalist, i.menuId, i.children)
    }
    return list;
}

</script>
  
<style  lang="scss" scoped>
.mul {
    display: inline;
}

.caid {
    display: inline;

}

.ann {
    display: inline;

}

.null {
    display: none;

}

.mu {
    background-color: rgba(2, 161, 233, .1);
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    color: #02A1E9;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(2, 161, 233, .2);
    white-space: nowrap;
}

.lei {
    display: flex;

    span {
        display: inline-block;
        width: 50px;
        line-height: 42px;
    }
}

.dialog-footer button:first-child {
    margin-right: 10px;
}

.cai {
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: rgba(103, 194, 58, .1);
    border-color: rgba(103, 194, 58, .2);
    color: #67C23A;
}

.an {
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: rgba(144, 147, 153, .1);
    border-color: rgba(144, 147, 153, .2);
}

.example-block {
    margin: 1rem;
}

.example-demonstration {
    margin: 1rem;
}
</style>
