<template>
  <div class="box">
    <div class="topsearch">
      <el-form :inline="true" :model="ruleForm" class="demo-form-inline">
        <el-form-item label="标签名称">
          <el-input v-model="ruleForm.title" placeholder="标签名称" />
        </el-form-item>
        <el-form-item label="状态">
          <el-select v-model="ruleForm.status" placeholder="状态">
            <el-option label="禁用" value="0" />
            <el-option label="正常" value="1" />
          </el-select>
        </el-form-item>
        <el-form-item class="button_search">
          <el-button type="primary" :icon="Search" @click="onSubmit">搜索</el-button>
          <el-button :icon="Delete" @click="reset()">清空</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="mid">
      <div class="left">
        <el-button type="primary" :icon="Plus" @click="handleAdd">新增</el-button>
      </div>
      <div class="right">
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
          <template #reference>
            <el-button :icon="Refresh" circle @click="refresh" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
          <template #reference>
            <el-button :icon="Menu" circle @click="setmenu" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
          <template #reference>
            <el-button :icon="Search" circle />
          </template>
        </el-popover>
      </div>
    </div>
    <div class="table">
      <el-table :data="tableData" border stripe style="width: 100%">
        <el-table-column prop="id" label="序号" width="55" align="center">
          <template #default="scope">
            {{ scope.$index + 1 }}
          </template>
        </el-table-column>
        <el-table-column prop="title" label="标签名称" width="150" align="center" v-if="noticeShow[0].showIs" />
        <el-table-column prop="status" label="状态" width="150" align="center" v-if="noticeShow[1].showIs">
          <template #default="scope">

            <!-- {{ scope.row.status===1?'正常':'' }} -->
            <el-tag v-if="scope.row.status === 0" size="small" type="danger">禁用</el-tag>
            <el-tag v-else size="small">正常</el-tag>

          </template>
        </el-table-column>

        <el-table-column prop="isDefault" label="默认类型" width="150" align="center" v-if="noticeShow[2].showIs">
          <template #default="scope">
            <el-tag disable-transitions>{{ scope.row.isDefault === 1 ? '默认状态' : '自定义状态' }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="seq" label="排序" width="150" align="center" v-if="noticeShow[3].showIs" />
        <el-table-column width="150" />
        <el-table-column prop="address" label="操作" align="center">
          <template #default="scope">
            <el-button type="primary" :icon="EditPen" @click="handleEdit(scope.$index, scope.row)">修改</el-button>
            <el-button type="danger" :icon="Delete" @click="handleClick(scope.row.id)">Detail</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 公共组件-分页器 -->
    <Pagination :total="total" ref="pagination" @getNotice="getGrouping" />

    <groupDialogVue ref="dialog" :isadd="isadd" :flagId="flagId" @getGrouping='getGrouping' />
    <!-- 公共组件-穿梭框 -->
    <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" @getNotice="getGrouping" />
  </div>

</template>

<script lang="ts" setup>
import { reactive, onMounted, ref, Ref } from 'vue'
import { Search, Plus, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import { getList, deleteGroup, searchGroup } from "../api/request"
import groupDialogVue from "../../../../components/product/groupDialog.vue"
import Pagination from "../../../../components/store/pagination.vue"
import Transfer from "../../../../components/store/transfer.vue"
import { ElMessage, ElMessageBox } from 'element-plus'
const isadd = ref<boolean>(false)
const dialog = ref<any>(null)
const flagId = ref<number>(0)
const pagination = ref<any>(null)
const T = ref<any>(null)
const total = ref<number>(0)

interface Option {
  key: number
  label?: string
  disabled?: boolean
}

const ruleForm = reactive({
  title: '',
  status: '',
})

// 穿梭框
const arr = ref([0, 1, 2, 3])
const data = ref<Option[]>([
  { key: 0, label: '标签名称', disabled: false },
  { key: 1, label: '状态', disabled: false },
  { key: 2, label: '默认类型', disabled: false },
  { key: 3, label: '排序', disabled: false }
])

const noticeShow = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true },
  { key: 2, showIs: true },
  { key: 3, showIs: true }
])

//搜索提交按钮
const onSubmit = async () => {
  console.log(ruleForm)
  const res: any = await searchGroup(ruleForm)
  tableData.value = res.data.records
}

//表格
const tableData: any = ref([])

const getGrouping = async () => {
  const res: any = await getList({
    size: pagination.value.size,
    current: pagination.value.current
  })
  if (res.status === 200) {
    tableData.value = res.data.records
    total.value = res.data.total
  }
}

onMounted(() => {
  getGrouping()
})


//新增
const handleAdd = () => {
  flagId.value = -99999;
  isadd.value = true;
  dialog.value.dialogVisible = true;
}

//修改
const handleEdit = (index: number, row: any) => {
  isadd.value = false;
  flagId.value = row.id
  dialog.value.dialogVisible = true;
  console.log(index, row)

}


//删除
const handleClick = async (id: number) => {

  ElMessageBox.confirm(
    '确定进行删除操作吗？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      const res: any = await deleteGroup(id)
      ElMessage({
        type: 'success',
        message: '操作成功',
      })
      setTimeout(() => {
        if (res.status === 200) {
          getGrouping()
        }
      }, 1000)
    })
    .catch(() => {

    })
}

//重置按钮
const reset = () => {
  Object.assign(ruleForm, {
    title: '',
    status: '',
  })
}

// 右上角  刷新
const refresh = () => {
  getGrouping()
}

//穿梭框
const setmenu = () => {
  T.value.dialogTableVisible = true
}


</script>

<style scoped>
.box {
  padding: 20px;
}

.button_search {
  font-size: 12px;
  z-index: 2;
}

.mid {
  min-height: 40px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.top_button {
  margin-bottom: 10px;
}

.top_button button {
  width: 70px;
  height: 30px;
  font-size: 12px;
}

.el-button--primary {
  background-color: #02A1E9;
  width: 73px;
  height: 32px;
}

.el-button--danger {
  width: 73px;
  height: 32px;
}

.el-button {
  font-size: 12px;
}
</style>
