<template>
    <div class="login">
        <div class="logins">
            <img class="imgs" src="../../../static/img/亚米.png" alt="">
            <el-form ref="ruleFormRef" :model="ruleForm" status-icon :rules="rules" label-width="120px"
                class="demo-ruleForm">
                <el-form-item prop="pass">
                    <el-input v-model="ruleForm.pass" type="password" autocomplete="off" placeholder="账号" />
                </el-form-item>
                <el-form-item prop="checkPass">
                    <el-input v-model="ruleForm.checkPass" type="password" autocomplete="off" placeholder="密码" />
                </el-form-item>
                <el-form-item prop="age">
                    <el-input style="width:150px" v-model="ruleForm.age" placeholder="验证码" />
                    <img style="width:150px; margin-left:30px;" :src="captchImg" alt="" />
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" sty @click="submitForm(ruleFormRef)" style="width:390px">登录</el-button>

                </el-form-item>
            </el-form>
        </div>

    </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'
import type { FormInstance } from 'element-plus'
import { useRouter } from 'vue-router';
import { uuid } from 'vue-uuid';
import useStore from '../../../store/index';
import { _login } from '../../../api/login'
const { login } = useStore()
const uuidcode = uuid.v4();//生成uuid
const captchImg = ref(`/api/captcha.jpg?uuid=${uuidcode}`);
const ruleFormRef = ref<FormInstance>()
const checkAge = (rule: any, value: any, callback: any) => {
    if (!value) {
        return callback(new Error('Please input the age'))
    }
    setTimeout(() => {
        callback()
    }, 1000)
}

const validatePass = (rule: any, value: any, callback: any) => {
    if (value === '') {
        callback(new Error('Please input the password'))
    } else {

        callback()
    }
}
const validatePass2 = (rule: any, value: any, callback: any) => {
    if (value === '') {
        callback(new Error('Please input the password again'))
    } else {
        callback()
    }
}

const ruleForm = reactive({
    pass: 'admin',
    checkPass: '123456',
    age: '',
})


const rules = reactive({
    pass: [{ validator: validatePass, trigger: 'blur' }],
    checkPass: [{ validator: validatePass2, trigger: 'blur' }],
    age: [{ validator: checkAge, trigger: 'blur' }],
})
const $router = useRouter();
const submitForm = async (formEl: FormInstance | undefined) => {
    login.loginAction({
        credentials: ruleForm.checkPass,
        imageCode: ruleForm.age,
        principal: ruleForm.pass,
        sessionUUID: uuidcode,

    })
    // const arr: any = await _login({
    //     credentials: ruleForm.checkPass,
    //     imageCode: ruleForm.age,
    //     principal: ruleForm.pass,
    //     sessionUUID: uuidcode,
    //     t: 1666841214230
    // })
    // if (arr.status === 200) {
    //     $router.push({ path: '/index' })
    //     window.localStorage.setItem('token', `${arr.data.token_type}${arr.data.access_token}`)
    // }
    $router.push({ path: '/index' })
}
const resetForm = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.resetFields()
}
</script>

<style scoped>
.login {
    width: 100%;
    height: 100%;
    background: url(../../../static/img/login.png) no-repeat;
    background-size: cover;
    position: fixed;
}

.logins {
    width: 450px;
    height: 250px;

    margin-left: 30%;
    margin-top: 10%;
}

.imgs {
    height: 50px;
    margin-left: 200px;
}
</style>