<template>
    <el-dialog v-model="dialogVisible" :title="props.isadd ? '新增' : '修改'" width="50%" :before-close="handleClose">
        <el-form :model="form" label-width="120px" ref="ruleFormRef" :rules="rules">
            <el-form-item label="名称" :rules="[{ required: true, message: `不能为空` }]">
                <el-input v-model="form.addrName" />
            </el-form-item>
            <el-form-item label="省份">
                <el-select v-model="form.province" class="m-1" placeholder="请选择" @change="setprovince">
                    <el-option v-for="(item, index) in options1" :key="index" :label="item.areaName"
                        :value="item.areaName" />
                </el-select>
                <el-select v-model="form.city" class="m-2" placeholder="请选择" @change="setcity">
                    <el-option v-for="(item, index) in options2" :key="index" :label="item.areaName"
                        :value="item.areaName" />
                </el-select>
                <el-select v-model="form.area" class="m-3" placeholder="请选择" @change="setarea">
                    <el-option v-for="(item, index) in options3" :key="index" :label="item.areaName"
                        :value="item.areaName" />
                </el-select>
            </el-form-item>
            <el-form-item label="地址" :rules="[{ required: true, message: `不能为空` }]">
                <el-input v-model="form.addr" />
            </el-form-item>
            <el-form-item label="手机号" prop="mobile" :rules="[{ required: true, message: `不能为空` }]">
                <el-input v-model="form.mobile" />
            </el-form-item>
            <el-form-item>
                <el-button @click="offShow">取消</el-button>
                <el-button type="primary" @click="onSubmit">确定</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { ref, reactive, watch, toRefs, defineEmits, onMounted, watchEffect } from 'vue'
import { ElMessageBox, ElMessage, FormInstance, FormRules } from 'element-plus'
import { _addSelf, _geteditSelf, _editSelf, _getarea } from '../../../api/store'

const emits = defineEmits(['getNotice', 'isaddFalse', 'isaddTrue'])
const props = defineProps({
    isadd: {
        type: Boolean
    },
    idf: {
        type: Number
    }
})
const { idf, isadd } = toRefs(props)
const dialogVisible = ref<any>(false)
const options1 = ref<any>([])
const options2 = ref<any>([])
const options3 = ref<any>([])
const editList = ref<any>([])
const provinceId = ref<number>(0)
const cityId = ref<number>(0)

const form = reactive({
    addrName: '',
    addr: '',
    mobile: '',
    province: '',
    city: '',
    area: '',
    provinceId: 0,
    cityId: 0,
    areaId: 0
})

const ruleFormRef = ref<FormInstance>()

const Mobilerules = (rule: any, value: any, callback: any) => {
    const regMobile = /^((\(\d{2,3}\))|(\d{3}\-))?1[3|5|8]\d{9}$/;
    if (!value) {
        return callback(new Error("请输入手机号！"));
    }
    if (!regMobile.test(value)) {
        callback(new Error("您输入手机格式错误！"));
    }
}
const rules = reactive<FormRules>({
    mobile: [
        { required: true, message: '必传' },
        { min: 11, message: '请输入不小于11个字符', trigger: 'blur' },
        { validator: Mobilerules, trigger: 'blur' }
    ],
})

watchEffect(() => {
    console.log('watchEffect');

})

watchEffect(async () => {
    console.log(props.isadd);
    if (idf) {
        const res: any = await _geteditSelf(idf.value)
        editList.value = await res.data
        await Object.assign(form, res.data)
        provinceId.value = res.data.provinceId
        cityId.value = res.data.cityId
    }

    if (props.isadd) {
        Object.assign(form, {
            addrName: '',
            addr: '',
            mobile: '',
            province: '',
            city: '',
            area: ''
        })
    } else {
        await Object.assign(form, editList.value)
        const res: any = await _getarea(0)
        options1.value = res.data
        const result: any = await _getarea(provinceId.value)
        options2.value = result.data
        const results: any = await _getarea(cityId.value)
        options3.value = results.data
    }
})

// 刚进页面请求一级省份
const createArea = async () => {
    const res: any = await _getarea(0)
    options1.value = res.data
}
onMounted(() => {
    createArea()
})

// 点击提交时-判断是新增还是修改
const onSubmit = async () => {
    if (props.isadd) {
        if (form.addrName !== '') {
            await _addSelf(form)
            Object.assign(form, {
                addrName: '',
                addr: '',
                mobile: '',
                province: '',
                city: '',
                area: ''
            })
            ElMessage({
                type: 'success',
                message: '新增成功',
            })
        } else {
            ElMessage({
                message: '自提点名称不得为空',
                type: 'warning',
            })
        }
        emits('getNotice')
    } else {
        await _editSelf(form)
        emits('getNotice')
        ElMessage({
            type: 'success',
            message: '修改成功',
        })
    }
    dialogVisible.value = false
}

// 点击取消
const offShow = () => {
    dialogVisible.value = false
    emits('isaddTrue')
}

// 点击遮罩层外或者关闭时
const handleClose = (done: () => void) => {
    ElMessageBox.confirm(`确定要关闭${props.isadd ? '新增' : '编辑'}窗口吗?`)
        .then(() => {
            done()
            emits('isaddTrue')
        })
        .catch(() => {
            // catch error
        })
}

// 点击一级省份选择框时
const setprovince = async (val: any) => {
    options1.value.forEach((item: any) => {
        if (item.areaName === val) {
            form.provinceId = item.areaId
        } else {
            options3.value = []
            form.city = ''
            form.area = ''
        }
    })
    const res: any = await _getarea(form.provinceId)
    options2.value = res.data
}

// 点击二级省份选择框时
const setcity = async (val: any) => {
    options2.value.forEach((item: any) => {
        if (item.areaName === val) {
            form.cityId = item.areaId
        } else {
            form.area = ''
        }
    })
    const res: any = await _getarea(form.cityId)
    options3.value = res.data
}

// 点击三级省份选择框时
const setarea = (val: any) => {
    options3.value.forEach((item: any) => {
        if (item.areaName === val) {
            form.areaId = item.areaId
        }
    })
}

defineExpose({
    dialogVisible,
    form
})

</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}

.m-1 {
    width: 33%;
}

.m-2 {
    width: 33%;
}

.m-3 {
    width: 33%;
}
</style>