<template>
  <div class="contentbox">
    <div class="mid">
      <div class="left">
        <el-button type="primary" :icon="Plus" @click="handleAdd">新增</el-button>
      </div>
    </div>
    <div class="bottom">
      
      <el-table :data="tableData"
              border
              row-key="categoryId"
              style="width: 100%;">

      <el-table-column prop="categoryName"
                       header-align="center"
                       treeKey="categoryId"
                       width="120"
                       label="分类名称">
      </el-table-column>
      <el-table-column prop="pic"
                       min-width="180"
                       header-align="center"
                       align="center"
                       label="图片">
        <template #default="scope">
          <img :src="'http://img-test.gz-yami.com/' + scope.row.pic " style="width:95%;height:90px"/>
        </template>
      </el-table-column>
      <el-table-column prop="status"
                       header-align="center"
                       align="center"
                       min-width="180"
                       label="状态">
        <template #default="scope">
          <el-tag v-if="scope.row.status === 0"
                  size="small"
                  type="danger">下线</el-tag>
          <el-tag v-else
                  size="small">正常</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="seq"
                       header-align="center"
                       align="center"
                       min-width="180"
                       label="排序号">
      </el-table-column>
      <el-table-column
                       header-align="center"
                       align="center"
                       min-width="180"
                       label="操作">
        <template #default="scope">
          <el-button
                     :icon="EditPen"
                     type="primary"
                     size="small"
                     @click="addOrUpdateHandle(scope.row.categoryId)">修改</el-button>
          <el-button
                     :icon="Delete"
                     type="danger"
                     size="small"
                     @click="deleteHandle(scope.row.categoryId)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    </div>
    <classifyDialogVue ref="dialog" :tableData="tableData" :isadd="isadd" :flagId="flagId" @getNotice='getNotice'/>
  </div>
</template>

<script lang="ts" setup>
import { Timer } from '@element-plus/icons-vue'
import { onMounted, reactive, ref } from 'vue'
import { Search, Plus, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import {categoryList} from "../api/request"
import classifyDialogVue from "../../../../components/product/classifyDialog.vue"
import { ElMessage, ElMessageBox } from 'element-plus'
const isadd = ref<boolean>(false)
const flagId = ref<number>(0)
const dialog = ref<any>(null)
const tableData = ref<any>([])

onMounted(() => {
  getNotice()
})

//获取数据
const getNotice = async () => {
  const res: any = await categoryList()
  if(res.status===200){
    tableData.value=res.data
    const res2=treeDataTranslate(tableData.value,0,[])
    tableData.value=res2
  }
}

//树形数据处理
const treeDataTranslate =(data:any, id:number, list:any) =>{
  for (let item of data){
      if(item.parentId===id){
        list.push(item);
      }
  }

  for(let i of list){
      i.children=[];
      treeDataTranslate(data,i.categoryId,i.children)
  }

  return list
}


//新增
const handleAdd=()=>{
  isadd.value = true;
  dialog.value.dialogVisible = true;
}

// 修改
const addOrUpdateHandle =(id:number)=> {
    isadd.value = false;
    flagId.value = id
    dialog.value.dialogVisible = true;
}

//删除
const deleteHandle=(id:string)=>{
  ElMessageBox.confirm(
    '确定进行删除操作吗？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      // const res=await deleteGurd([row.propId])
      ElMessage({
        type: 'success',
        message: '操作成功',
      })
      setTimeout(()=>{
        getNotice()
      },1000)
    })
    .catch(() => {
      
    })
}



</script>

<style lang="scss" scoped>
.contentbox {
  width: 95%;
  height: 95%;
  padding: 20px;

  .mid {
    min-height: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .bottom {
    margin-top: 10px;
  }
}


.el-tag {
  background-color: rgba(2, 161, 233, .1);
}

.el-button--primary {
  background-color: #02A1E9;
  width: 73px;
  height: 32px;
}

.el-button--danger {
  width: 73px;
  height: 32px;
}
</style>