<template>
    <el-dialog v-model="dialogVisible" :title="props.isadd ? '新增' : '修改'" width="60%" :before-close="handleClose">
        <el-form :model="form" label-width="120px" :rules="rules">
            <el-form-item label="分类图片" class="upload_img" prop="pic">
                <el-upload
                    action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
                    list-type="picture-card"
                    :on-preview="handlePictureCardPreview"
                    :on-remove="handleRemove"
                >
                    <img v-if="form.pic" :src="'http://img-test.gz-yami.com/'+form.pic" class="avatar" style="width: 148px;height: 148px;" />
                    <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
                </el-upload>
            </el-form-item>
            <el-form-item label="分类名称"  prop="categoryName">
                <el-input v-model="form.categoryName" />
            </el-form-item>

            <el-form-item label="上级分类">
                <el-cascader :options="tableData" :props="prop" clearable v-model="value"  @change="handleChange" />
            </el-form-item>

            <el-form-item label="排序号">
                <el-input-number
                    v-model="form.seq"
                    :min="0"
                    controls-position="right"
                    size="large"
                />
            </el-form-item>

            <el-form-item label="状态">
                <el-radio-group v-model="form.status">
                    <el-radio :label=0>下线</el-radio>
                    <el-radio :label=1>正常</el-radio>
                </el-radio-group>
            </el-form-item>
                       
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit">确定</el-button>
            </span>
        </template>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { ref, reactive, watch, onMounted, toRefs } from 'vue'
import { ElMessageBox } from 'element-plus'
import {Plus} from '@element-plus/icons-vue'
import {classifyCategory,updataCategory} from "../../pages/modules/product-management/api/request"
import { formatDate } from '@vueuse/shared';
import type { UploadProps } from 'element-plus'
import type { FormInstance, FormRules } from 'element-plus'
import { ElMessage } from 'element-plus'
const imageUrl = ref('')
const optionList=ref<tableDataType[]>([])

const props = defineProps({
    isadd: {
        type: Boolean
    },
    flagId: {
        type: Number
    },
    tableData:{
        type:Array
    }
})
const { flagId,isadd,tableData } = toRefs(props)
console.log(tableData)
interface formType{
    status:number,
    seq:number,
    pic:string,
    categoryName:string,
    categoryId?:number,
    parentId?:number
}

interface tableDataType{
    categoryId?:number,
    categoryName?:string,
    pic?:string,
    seq?:number,
    status?:number,
    children?:tableDataType[]
}

const value=ref('')

const form:formType = reactive({
    status: 1,
    seq: 0,
    // value:'分类',
    pic:'',
    categoryName:'',
    categoryId:props.flagId,
    parentId:0
})

const rules = reactive<FormRules>({
    categoryName: [
        { required: true, message: '分类名称不能为空', trigger: 'blur' }
    ],
    pic: [
        { required: true, message: '分类图片不能为空', trigger: 'blur' }
    ]
})


const prop = {
    checkStrictly :true,
    value:'categoryName',
    label:'categoryName'
}


const emits=defineEmits(['getGrouping'])

watch(flagId as any,async (newValue:any,old)=>{
    console.log(newValue,'newValue')
    const res:any=await classifyCategory(newValue)
    getUpClassify(res.data)
    form.categoryName=res.data.categoryName
    form.pic=res.data.pic
    form.seq=res.data.seq
    form.status=res.data.status
    form.categoryId=res.data.categoryId
})

const getUpClassify=(data:any)=>{
    props.tableData?.filter((item:any)=>{
        if(data.parentId===item.categoryId)
        {
            value.value=item.categoryName
        }else if(item.children.length>0){
            item.children.filter((ite:any)=>{
                if(data.parentId===ite.categoryId){
                    value.value=ite.categoryName
                }
            })
        }
    })
}


const dialogVisible = ref<any>(false)

const handleRemove: UploadProps['onRemove'] = (uploadFile, uploadFiles) => {
  console.log(uploadFile, uploadFiles)
}

const handlePictureCardPreview: UploadProps['onPreview'] = (uploadFile) => {
    imageUrl.value = URL.createObjectURL(uploadFile.raw!)
  dialogVisible.value = true
}

//上级分类数据
const handleChange=(val:string)=>{
    console.log(val,'valllllll')
    value.value=val
    const ite=val[val.length-1]
    console.log(ite)
    props.tableData?.filter((item:any)=>{
        if(item.categoryName===ite){
            form.parentId=item.categoryId
            console.log(form.categoryId)
        }else if(item.children.length>0){
            item.children.filter((itee:any)=>{
                if(itee.categoryName===ite){
                    form.parentId=itee.categoryId
                    console.log(form.categoryId)
                }
            })
        }
        
    })
}

const onSubmit = async () => {
    if(props.isadd){
        //新增
        console.log(111)
        // const res:any=await editList(form)
        // if(res.status===200){
        //     emits('getGrouping')
        //     dialogVisible.value = false
        // }
    }
    else{
        //修改
        const res:any=await updataCategory(form)
        console.log(res)
        if(res.status===200){
            emits('getGrouping')
            dialogVisible.value = false
        }
    }
    
}

const handleClose = (done: () => void) => {
    Object.assign(form,{
        status: 1,
        seq: 0,
        pic:'',
        categoryName:''
    })
    dialogVisible.value = false
}

defineExpose({
    dialogVisible
})


</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}

.upload_img .avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.upload_img .el-icon.avatar-uploader-icon:hover {
  border-color: var(--el-color-primary);
}

.upload_img .el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 146px;
  border-radius: 6px;
  text-align: center;
  background-color: #fff;
  /* border: 1px dashed var(--el-border-color); */
}

</style>