<template>
    <el-dialog v-model="dialogVisible" :title="props.isadd ? '新增' : '修改'" width="60%" :before-close="handleClose">
        <el-form :model="form" label-width="120px">
            <el-form-item label="标签名称">
                <el-input v-model="form.title" />
            </el-form-item>
            <el-form-item label="状态">
                <el-radio-group v-model="form.status">
                    <el-radio :label=1>正常</el-radio>
                    <el-radio :label=0>禁用</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="列表状态">
                <el-radio-group v-model="form.style">
                    <el-radio :label=0>一列一个</el-radio>
                    <el-radio :label=1>一列两个</el-radio>
                    <el-radio :label=2>一列三个</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="排序">
                <el-input v-model="form.seq" type="textarea" />
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit">确定</el-button>
            </span>
        </template>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { ref, reactive, watch, onMounted, toRefs } from 'vue'
import { ElMessageBox } from 'element-plus'
// import { _addNotice, _geteditNotice } from '../../api/store'
import {editList,updataList,updataSubmin} from "../../pages/modules/product-management/api/request"
import { formatDate } from '@vueuse/shared';

interface formType{
    title:string,
    status:number,
    style:number,
    seq:number,
    id:number
}

const form:formType = reactive({
    title: '',
    status: 1,
    style: 1,
    seq: 0,
    id:-999,
})

const props = defineProps({
    isadd: {
        type: Boolean
    },
    flagId: {
        type: Number
    }
})
const { flagId,isadd } = toRefs(props)
console.log(isadd, 'asdasdasd');

const emits=defineEmits(['getGrouping'])

watch(flagId as any,async (newValue:any,old)=>{
    console.log(newValue,'newValue')
    const res:any=await updataList(newValue)
    Object.assign(form,res.data)
})


const dialogVisible = ref<any>(false)
 


const onSubmit = async () => {
    console.log(form);
    console.log('submit!')
    // const res = await _addNotice(form)
    // console.log(res);
    if(props.isadd){
        const res:any=await editList(form)
        if(res.status===200){
            emits('getGrouping')
            dialogVisible.value = false
        }
    }
    else{
        const res:any=await updataSubmin(form)
        if(res.status===200){
            emits('getGrouping')
            dialogVisible.value = false
        }
        console.log(res,'updataRes111')
    }
    
}

const handleClose = (done: () => void) => {
    dialogVisible.value = false
}

defineExpose({
    dialogVisible
})

</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>