<template>
    <el-dialog v-model="dialogVisible" :title="props.isadd ? '新增' : '修改'" width="60%" :before-close="handleClose">
        <el-table :data="dataList"
                    border
                    style="width: 100%;">
            <el-table-column prop="propName"
                            header-align="center"
                            align="center"
                            label="属性名称">
                <template #default="scope">
                <el-input placeholder="请输入内容"
                            :rule="dataRule"
                            prop="propName"
                            v-model="scope.row.propName"
                            clearable></el-input>
                </template>
            </el-table-column>
            <el-table-column prop="prodPropValues"
                            header-align="center"
                            align="center"
                            label="属性值">
                <template #default="scope">
                <el-col :span="12"
                        v-for="(item,index) in scope.row.prodPropValues"
                        :key="index">
                    <el-input placeholder="请输入内容"
                            v-model="item.propValue"
                            @clear="clearProdPropValues"
                            clearable></el-input>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary"
                                :icon="Plus"
                            @click="addInput()"></el-button>
                </el-col>
                </template>
            </el-table-column>
        </el-table>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit">确定</el-button>
            </span>
        </template>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { ref, reactive, watch, onMounted, toRefs } from 'vue'
import { ElMessageBox } from 'element-plus'
import {addGurd,updataCurd} from "../../pages/modules/product-management/api/request"
import { formatDate } from '@vueuse/shared';
import { Plus } from '@element-plus/icons-vue'
import type { FormRules } from 'element-plus'

const dataList=ref<any>([{ propId: 0, propName: '', prodPropValues: [{ valueId: 0 }] }])

interface formType{
    title:string,
    status:number,
    style:number,
    seq:number,
    id:number
}

const form:formType = reactive({
    title: '',
    status: 1,
    style: 1,
    seq: 0,
    id:-999,
})

const props = defineProps({
    isadd: {
        type: Boolean
    },
    flagId: {
        type: Array
    }
})
const { flagId,isadd } = toRefs(props)
console.log(isadd, 'asdasdasd');

const emits=defineEmits(['getNotice'])

watch(flagId as any,async (newValue:any,old)=>{
    console.log(newValue,'newValue')
    // const {data}=await updataList(newValue)
    // Object.assign(dataList,newValue)
    // console.log(dataList)
    dataList.value[0].propId=newValue.propId
    dataList.value[0].propName=newValue.propName
    dataList.value[0].prodPropValues=newValue.prodPropValues
})


const dialogVisible = ref<any>(false)
 
const  dataRule = reactive<FormRules>({
        propName: [
          { required: true, message: '属性名称不能为空', trigger: 'blur' }
        ]
      }
)

const onSubmit = async () => {
    console.log(form);
    console.log('submit!')
    // const res = await _addNotice(form)
    // console.log(res);
    if(props.isadd){
        //新增
        console.log(dataList,'addlist')
        const res:any=await addGurd({
            propName:dataList.value[0].propName,
            prodPropValues:dataList.value[0].prodPropValues
        })
        console.log(res)
        if(res.status===200){
            emits('getNotice')
            dialogVisible.value = false
        }
    }
    else{
        //修改
        console.log(dataList.value,'else')
        const res:any=await updataCurd(dataList.value[0])
        if(res.status===200){
            emits('getNotice')
            dialogVisible.value = false
        }
        // console.log(res,'updataRes111')
    }
    
}

const handleClose = (done: () => void) => {
    dialogVisible.value = false
}

defineExpose({
    dialogVisible
})

const clearProdPropValues=()=> {
    if (dataList.value[0].prodPropValues.length === 1) {
        return
    }
    for (let i = 0; i < dataList.value[0].prodPropValues.length; i++) {
        const element = dataList.value[0].prodPropValues[i]
        if (!element.propValue) {
          dataList.value[0].prodPropValues.splice(i, 1)
        }
    }
}

const addInput = () =>{
      let temp = dataList.value[0].prodPropValues
      if (temp[temp.length - 1].propValue) {
        temp.push({})
      }
      console.log(dataList.value[0].prodPropValues)
}

</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>