<template>
  <div class='app_wrap'>
    <el-container class='layout-container-demo'>
      <el-aside width='210px'>
        <el-scrollbar>
          <div class='aside_title'>
            <span>亚米建站后台</span>
          </div>
          <el-menu active-text-color="#ffd04b" :router="true" class="el-menu-vertical-demo" default-active="2"
            @open="handleOpen" @close="handleClose">
            <el-sub-menu v-for="item, i in MenuData" :key="i" :index="'/' + item.list[0].url">
              <template #title>
                <el-icon>
                  <location />
                </el-icon>
                <span>{{ item.name }}</span>
              </template>
              <el-menu-item-group>
                <el-menu-item v-for="val in item.list" :key="val.menuId" :index="'/' + val.url">{{ val.name }}
                </el-menu-item>

              </el-menu-item-group>
            </el-sub-menu>

          </el-menu>
        </el-scrollbar>
      </el-aside>

      <el-container>
        <!-- 左侧 头部 -->
        <el-header>
          <div class='toolbar'>
            <el-dropdown>
              <!-- <el-icon style='margin-right: 8px; margin-top: 1px'>
                <setting />
              </el-icon> -->
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item>View</el-dropdown-item>
                  <el-dropdown-item>Add</el-dropdown-item>
                  <el-dropdown-item>Delete</el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
            <div class="admins">
              <el-dropdown>
                <span class="el-dropdown-link">
                  admin
                  <el-icon class="el-icon--right">
                    <arrow-down />
                  </el-icon>
                </span>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item>修改密码</el-dropdown-item>
                    <el-dropdown-item>
                      <el-button text @click="open">退出</el-button>
                    </el-dropdown-item>


                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            </div>

          </div>
        </el-header>

        <!-- 左侧 内容区 -->
        <el-main>
          <!-- 全局面包屑 -->
          <!-- <div class='app_main_header'>
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
              <el-tab-pane label="User" name="first"></el-tab-pane>
              <el-tab-pane label="Config" name="second"></el-tab-pane>
              <el-tab-pane label="Role" name="third"></el-tab-pane>
              <el-tab-pane label="Task" name="fourth"></el-tab-pane>
            </el-tabs>
          </div> -->
          <div class='app_view'>
            <router-view />
          </div>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script lang="ts" setup>
import './css/index.css';
import router from '../router/module/index'
import { ArrowDown } from '@element-plus/icons-vue'
import { ref } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import { useRouter } from 'vue-router';
import store from '../store';
import { computed } from 'vue';
const $router = useRouter();
const { login }: any = store();
//从仓库取值
const MenuData = computed(() => login.MenuData)
console.log(MenuData, 'menuList-9---');

const handleOpen = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}
const handleClose = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}
const open = () => {
  ElMessageBox.confirm(
    '确定进行[退出]操作?',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(() => {
      ElMessage({
        type: 'success',
        message: '已退出',
      })
      window.localStorage.removeItem('token');
      $router.push({ path: '/login' })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '',
      })
    })
}
// export default {
//   setup(props, context) {
//     // 筛选出渲染的数据
//     let routerRenders = router.options.routes.filter(item => item.path == '/index')[0].children.filter(val => val.children);
//     const $router = useRouter();
//     const open = () => {
//       ElMessageBox.confirm(
//         '确定进行[退出]操作?',
//         '提示',
//         {
//           confirmButtonText: '确定',
//           cancelButtonText: '取消',
//           type: 'warning',
//         }
//       )
//         .then(() => {
//           ElMessage({
//             type: 'success',
//             message: '已退出',
//           })
//           window.localStorage.removeItem('token');
//           $router.push({ path: '/login' })
//         })
//         .catch(() => {
//           ElMessage({
//             type: 'info',
//             message: '',
//           })
//         })
//     }
//     return {
//       routerRenders, open
//     }
//   }
// };
</script>
<style scoped>
.app_wrap {
  position: relative;
}

.example-showcase .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}

.app_view {
  width: 100%;
  height: auto;
  background: #fff;
}

/* .app_wrap .layout-container-demo .el-main .app_view {
  height: 100% !important;

} */

.admins {
  position: absolute;
  right: 20px;
  top: 20px;

}

.app_wrap .layout-container-demo .el-main .app_view {
  height: auto;
  min-height: 640px;
}

.aside_title {
  background: #02a1e9 !important;
  height: 50px !important;
}

.el-aside {
  width: 230px;
  background: #263238 !important;
}

.app_wrap .el-menu {
  background: #263238 !important;
}

.el-menu-item {
  height: 56px !important;
}

.el-menu-item-group {
  background-color: #202b30 !important;
}

.app_wrap .el-menu .el-menu-item:hover {
  background-color: #263238;
  color: #eee;
}

.app_wrap .el-menu .is-active {
  background-color: #263238;
}

.is-opened {
  background-color: #202b30 !important;
}
</style>

