<template>
  <div style="width: 100%;height: 100%;">
    <div style="display: flex; justify-content: flex-end
    ;background-color: #f8f8f8;">
    <el-config-provider :locale="locale">
      <el-pagination
       v-model:currentPage="page"
       v-model:page-size="pageSize"
        :page-sizes="[10, 20, 30, 40]"
        :small="small"
        :disabled="disabled"
        background
        layout="total, sizes, prev, pager, next, jumper"
        :total='fath'
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </el-config-provider>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref,defineProps, toRefs,defineEmits} from "vue";
import zhCn from 'element-plus/lib/locale/lang/zh-cn'
//Setpage
// const props=defineProps<{iten:any,title:string}>()
// const {iten}=toRefs(props)
// const {title}=toRefs(props)
const emits=defineEmits(['Setpage','SetpageSize'])

let currentPage4 = ref(4);
let pageSize4 = ref(10);
let background = ref(false);
let disabled = ref(false);
let small = ref(false);
const  locale=ref(zhCn)
const handleSizeChange = (val: number) => {
    pageSize4.value=val
    emits('SetpageSize',val)
  console.log(`${val} items per page`);
};
const handleCurrentChange = (val: number) => {
    currentPage4.value=val
    emits('Setpage',val)
  console.log(`current page: ${val}`)
};
defineProps<{ // 采用ts专有声明，无默认值
  fath?:number
    page?: number
    pageSize?: number
  }>()

// interface Props{
   
// }
// defineProps<Props>()
</script>

<style></style>
