<template>
    <div class="index">
        <transition>
            <div class="tops" v-show="isShow">
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item>
                        参数名
                        <el-input style="width:180px" v-model="formInline.paramKey" placeholder="参数名" />
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                        <el-button type="" @click="empty">清空</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </transition>
        <div>
            <el-button type="primary" @click="add">新增</el-button>

            <el-button type="danger" :disabled="multipleSelection.length != 0 ? false : true" @click="open">批量删除
            </el-button>

        </div>
        <div class="he">
            <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
                <template #reference>
                    <el-button :icon="Refresh" circle @click="refresh" />
                </template>
            </el-popover>
            <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
                <template #reference>
                    <el-button :icon="Menu" circle @click="setmenu" />
                </template>
            </el-popover>
            <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
                <template #reference>
                    <el-button :icon="Search" circle @click="isShow = !isShow" />
                </template>
            </el-popover>
            <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" />
        </div>
        <div>
            <div>
                <div class="main">
                    <h4>当前表格已选择{{ multipleSelection ? multipleSelection.length : 0 }}项<span @click="kong">清空</span></h4>
                    <el-table ref="multipleTableRef" border :data="datas.records" style="width: 100%"
                        @selection-change="handleSelectionChange">
                        <el-table-column align="center " type="selection" width="60" />
                        <el-table-column v-if="noticeShow[0].showIs" align="center " property="paramKey" label="参数名" />
                        <el-table-column v-if="noticeShow[1].showIs" align="center " property="paramValue"
                            label="参数值" />
                        <el-table-column v-if="noticeShow[2].showIs" align="center " property="remark" label="备注" />
                        <el-table-column align="center " property="remark" label="操作">
                            <template #default="scope">
                                <el-button size="small" class="put" @click="handleEdit(scope.$index, scope.row)">编辑
                                </el-button>
                                <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">
                                    删除</el-button>
                            </template>
                        </el-table-column>



                    </el-table>

                </div>
            </div>
            <div class="buttom">
                <div class="demo-pagination-block">
                    <el-config-provider :locale="locale">
                        <el-pagination :page-sizes="[10, 20, 50, 100]" :small="small" :disabled="disabled"
                            :background="background" layout="total, sizes, prev, pager, next, jumper"
                            :total="datas.total" @size-change="handleSizeChange"
                            @current-change="handleCurrentChange" />
                    </el-config-provider>
                </div>
            </div>
        </div>
        <div class="pop-up">


            <el-dialog v-model="dialogVisible" :title="title" width="30%" :before-close="handleClose">
                <div>
                    <el-form ref="ruleFormRef" :model="ruleForm" status-icon :rules="rules" label-width="120px"
                        class="demo-ruleForm">
                        <el-form-item label="参数名" prop="pass">
                            <el-input v-model="ruleForm.paramKey" autocomplete="off" />
                        </el-form-item>
                        <el-form-item label="参数值" prop="checkPass">
                            <el-input v-model="ruleForm.paramValue" autocomplete="off" />
                        </el-form-item>
                        <el-form-item label="备注" prop="age">
                            <el-input v-model.number="ruleForm.remark" />
                        </el-form-item>

                    </el-form>

                </div>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button @click="dialogVisible = false">取消</el-button>
                        <el-button type="primary" @click="submitForm(ruleFormRef)">
                            确定
                        </el-button>
                    </span>
                </template>
            </el-dialog>
        </div>
    </div>
</template>
  
<script lang="ts" setup>
import { Timer } from '@element-plus/icons-vue'
import { nextTick, onMounted, reactive } from 'vue'
import { parameter, parameter_delete, add_parameter, put_parameter } from "../../../../api/login";
/* @ts-ignore  */
import { ref } from 'vue'
import zhCn from 'element-plus/lib/locale/lang/zh-cn'
import { ORDER } from "../../../../check/order";
import { ElTable } from 'element-plus'
import { ElMessageBox } from 'element-plus'
import { ElMessage } from 'element-plus'
import type { FormInstance } from 'element-plus'
/* @ts-ignore  */
import Transfer from '../../../../components/store/transfer.vue'
import type { UploadProps } from 'element-plus'
import { Search, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
const ruleFormRef = ref<FormInstance>()

const checkAge = (rule: any, value: any, callback: any) => {


}

const validatePass = (rule: any, value: any, callback: any) => {

}
const validatePass2 = (rule: any, value: any, callback: any) => {

}

const ruleForm = reactive({
    paramKey: '',
    paramValue: '',
    remark: '',
})

// 穿梭框
const T = ref<any>(null)
const isShow = ref(true)
interface Option {
    key: number
    label?: string
    disabled?: boolean
}
const arr = ref([0, 1, 2, 3, 4, 5, 6])
const data = ref<Option[]>([
    { key: 0, label: '参数名', disabled: false },
    { key: 1, label: '参数值', disabled: false },
    { key: 2, label: '备注', disabled: false },



])
// 右上角  刷新
const refresh = () => {
    fun()
}
const noticeShow = reactive([
    { key: 0, showIs: true },
    { key: 1, showIs: true },
    { key: 2, showIs: true },



])
//穿梭框
const setmenu = () => {
    T.value.dialogTableVisible = true
}
const imageUrl = ref('')

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
    if (rawFile.type !== 'image/jpeg') {
        ElMessage.error('Avatar picture must be JPG format!')
        return false
    } else if (rawFile.size / 1024 / 1024 > 2) {
        ElMessage.error('Avatar picture size can not exceed 2MB!')
        return false
    }
    return true
}
const rules = reactive({
    pass: [{ validator: validatePass, trigger: 'blur' }],
    checkPass: [{ validator: validatePass2, trigger: 'blur' }],
    age: [{ validator: checkAge, trigger: 'blur' }],
})
//新增
const add = () => {
    dialogVisible.value = true;
    title.value = '新增'
    zhi.value = true
    ruleForm.paramKey = '';
    ruleForm.paramValue = '';
    ruleForm.remark = '';
}
//编辑
const idd = ref(0);

const handleEdit = (index: number, row: any) => {
    console.log(index, row)
    dialogVisible.value = true;
    title.value = '编辑';
    idd.value = row.id
    ruleForm.paramKey = row.paramKey;
    ruleForm.paramValue = row.paramValue;
    ruleForm.remark = row.remark;


    zhi.value = false
}
const submitForm = async (formEl: FormInstance | undefined) => {
    if (zhi.value === true) {
        //添加
        const brr = await add_parameter({
            paramKey: ruleForm.paramKey,
            paramValue: ruleForm.paramValue,
            remark: ruleForm.remark
        })
        fun()
        setTimeout(() => {
            dialogVisible.value = false;

        }, 1000);

    } else if (zhi.value === false) {
        //编辑
        const brr = await put_parameter({
            id: idd.value,
            paramKey: ruleForm.paramKey,
            paramValue: ruleForm.paramValue,
            remark: ruleForm.remark
        })
        console.log(ruleForm);

        fun()
        setTimeout(() => {
            dialogVisible.value = false;

        }, 1000);


    }

}

const resetForm = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.resetFields()
}
//批量删除
const open = () => {
    ElMessageBox.confirm(
        `确定对[id=${multipleSelection.value.id}]进行[批量删除]操作?`,
        'Warning',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            const arr = ref([]);
            arr.value = multipleSelection.value.map((value: any, index: number) => {
                return value.id
            })

            const data = await parameter_delete(
                arr.value
            )
            console.log(multipleSelection, 'multipleSelection1', arr);
            fun()

        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: 'Delete canceled',
            })
        })
}
const dialogVisible = ref(false)

const handleClose = (done: () => void) => {
    ElMessageBox.confirm('Are you sure to close this dialog?')
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}
interface User {
    id: any;
    date: string
    name: string
    address: string
}

const multipleTableRef = ref<InstanceType<typeof ElTable>>()
const multipleSelection: any = ref([])

const handleSelectionChange = (val: User[]) => {
    multipleSelection.value = val
    console.log(multipleSelection.value.length, 'multipleSelection');

}


const kong = () => {
    multipleSelection.value = null;
    fun()
}
const locale = zhCn
const currentPage4 = ref(4)
const pageSize4 = ref(100)
const small = ref(false)
const background = ref(false)
const disabled = ref(false)
//分页
const size: any = reactive({
    current: 1,
    size: 10
})
const handleSizeChange = (val: number) => {
    size.size = val
    console.log(size, '---size');
    fun()
}
const handleCurrentChange = (val: number) => {
    size.current = val
    console.log(size, '---size');
    fun()
}
const value = ref('')
const options = [
    {
        value: '0',
        label: '禁用',
    },
    {
        value: '1',
        label: '正常',

    },

]
const value1 = ref<[Date, Date]>([
    new Date(2000, 10, 10, 10, 10),
    new Date(2000, 10, 11, 10, 10),
])
const value2 = ref('')

const formInline = reactive({
    paramKey: '',

})
//查询
const onSubmit = async () => {
    const { data }: any = await parameter(size, formInline.paramKey)
    datas.value = data
}
//清空
const empty = () => {
    formInline.paramKey = '';

}

const orderData: any = ref('')
const flag: any = ref(false)


const Sonorder = (order: any) => {
    orderData.value = order;
    flag.value = true
    console.log(orderData);

}

const changeNum = (dialogTableVisible: boolean) => {
    flag.value = dialogTableVisible
};

console.log(flag.value, 'flag.value9999');


interface User {
    date: string
    name: string
    address: string
}
//总会员
const datas: any = ref([])
const fun = async () => {
    const { data }: any = await parameter(size, formInline.paramKey)
    datas.value = data
}
onMounted(() => {
    fun()
})
const title = ref('新增')
const zhi = ref(true)


//单项删除
const handleDelete = async (index: number, row: User) => {
    console.log(index, row.id, '********************************-')
    const data = await parameter_delete(
        [row.id]
    )
    fun()

}
</script>
<style  lang="scss" scoped>
.index {
    width: 100%;
    height: auto;
    background: #fff;
}

.put {
    color: #FFF;
    background-color: #02A1E9;
    border-color: #02A1E9;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}

.v-enter-active {
    animation: move 0.5s linear;
}

.v-leave-active {
    animation: move 0.5s linear reverse;
}

@keyframes move {
    from {
        transform: translateY(-40%);
    }

    to {
        transform: translateY(0px);
    }
}

.he {
    width: 95%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.cative {
    background-color: rgba(245, 108, 108, .1);
    border-color: rgba(245, 108, 108, .2);
    color: #F56C6C;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
}

.buttons {
    color: #FFF;
    background-color: #02A1E9;
    border-color: #02A1E9;
}

.out {
    background-color: rgba(2, 161, 233, .1);
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    color: #02A1E9;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(2, 161, 233, .2);
    white-space: nowrap;
}

.block {
    padding: 30px 0;
    text-align: center;
    border-right: solid 1px var(--el-border-color);
    flex: 1;
}


.buttom {
    margin-left: 55%;
    margin-bottom: 10px;
    height: 60px;

}

.pop-up {

    z-index: 12;
}
</style>