<template>

    <el-dialog v-model="cityVisible" title="Tips" width="50%" :before-close="handleClose">
        <el-form ref="dataForm" :model="dataForm" label-width="80px" style="height: 400px" class="demo-ruleForm">
            <el-scrollbar style="height: 100%">
                <el-form-item size="mini" label="配送区域">
                    <el-tree :data="menuList" :props="menuListTreeProps" ref="menuListTree" node-key="areaId"
                        show-checkbox v-if="cityVisible" />
                </el-form-item>
            </el-scrollbar>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="reset()">清空</el-button>
                <el-button @click="cityVisible = false">取消</el-button>
                <el-button type="primary" @click="yepokk()">
                    确定
                </el-button>
            </span>
        </template>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { reactive, ref, nextTick, defineEmits } from 'vue'
import { ElMessageBox } from 'element-plus'
import { treeDataTranslate } from '../../../utils/index'
import { _getList } from '../../../api/store'

const cityVisible = ref(false)
const types = ref<number>(0)
const menuList = ref<any>([])
const rowIndexs = ref<number>(0)
const menuListTree = ref<any>(null)
const menuListTreeProps = reactive<any>({
    label: 'areaName',
    children: 'children'
})
const dataForm = reactive<any>({
    transfeeId: 0
})

const emits = defineEmits(['getDataList'])

const init = async (rowIndex: number, cityList: any, allSelectCityList: any, type: number) => {
    types.value = type
    rowIndexs.value = rowIndex
    if (menuList.value.length === 0) {
        const res: any = await _getList()
        menuList.value = treeDataTranslate(res.data, 'areaId', 'parentId')
        cityVisible.value = true
        // disabledNodes(cityList,allSelectCityList)
        nextTick(() => {
            Object.assign(dataForm, {
                transfeeId: 0
            })
            menuListTree.value.setCheckedNodes(cityList)
        })
    } else {
        cityVisible.value = true
        // disabledNodes(cityList,allSelectCityList)
        nextTick(() => {
            Object.assign(dataForm, {
                transfeeId: 0
            })
            menuListTree.value.setCheckedNodes(cityList)
        })
    }
}


// 点击提交 确定
const yepokk = () => {
    emits('getDataList', rowIndexs.value, menuListTree.value.getCheckedNodes(true), types)
    cityVisible.value = false
}

// 点击关闭
const handleClose = (done: () => void) => {
    ElMessageBox.confirm('Are you sure to close this dialog?')
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}

// 清空
const reset = () => {
    menuListTree.value.setCheckedNodes([])
}

defineExpose({
    cityVisible,
    init
})
</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>