<template>
    <el-dialog v-model="dialogVisible" :title="props.isadd ? '新增' : '修改'" width="92%" :before-close="handleClose">
        <el-form :model="form" label-width="120px">
            <el-form-item label="模板名称" :rules="[{ required: true, message: `不能为空` }]">
                <el-input placeholder="模板名称" v-model="form.transName" />
            </el-form-item>
            <el-form-item label="模板类型" :rules="[{ required: true, message: `不能为空` }]">
                <el-radio-group v-model="form.isFreeFee" @change="changeFreeFee">
                    <el-radio :label=0>买家承担运费</el-radio>
                    <el-radio :label=1>卖家包邮</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="收费方式">
                <el-radio-group v-model="form.chargeType">
                    <el-radio :label=0>按件数</el-radio>
                    <el-radio :label=1>按重量</el-radio>
                    <el-radio :label=2>按体积</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-table :data="form.transfees" stripe border size="defalt" style="width: 100%">
                <el-table-column align="center" label="可配送区域" width="450">
                    <template #default="scope">
                        <span v-if="scope.$index == 0">所有地区</span>
                        <span
                            v-if="(!scope.row.cityList || !scope.row.cityList.length) && scope.$index > 0">请选择可配送区域</span>
                        <span v-if="scope.$index > 0">
                            <el-tag v-for="city in scope.row.cityList" :key="city.areaId">{{ city.areaName }}</el-tag>
                        </span>
                        <el-button v-if="scope.$index > 0" size="small" type="primary" text
                            @click="editRows(scope.$index)">编辑</el-button>
                        <el-button v-if="scope.$index > 0" size="small" type="primary" text
                            @click="deleteRows(scope.$index)">删除</el-button>
                    </template>
                </el-table-column>
                <el-table-column align="center" :label="tableTitle[0]">
                    <template #default="scope">
                        <el-form-item label-width="0px" :prop="`transfees.${scope.$index}.firstPiece`"
                            :rules="[{ required: true, message: `${tableTitle[0]}不能为空` }]">
                            <el-input @mousewheel.native.prevent type="number" v-model="scope.row.firstPiece"
                                :disabled="!scope.row.status && scope.$index === 0"
                                @change="checkNumber(scope.row, 1)" />
                        </el-form-item>
                    </template>
                </el-table-column>
                <el-table-column align="center" :label="tableTitle[1]">
                    <template #default="scope">
                        <el-form-item label-width="0px" :prop="`transfees.${scope.$index}.firstFee`"
                            :rules="[{ required: true, message: `${tableTitle[1]}不能为空` }]">
                            <el-input @mousewheel.native.prevent type="number" v-model="scope.row.firstFee"
                                :disabled="!scope.row.status && scope.$index === 0"
                                @change="checkNumber(scope.row, 2)" />
                        </el-form-item>
                    </template>
                </el-table-column>
                <el-table-column align="center" :label="tableTitle[2]">
                    <template #default="scope">
                        <el-form-item label-width="0px" :prop="`transfees.${scope.$index}.continuousPiece`"
                            :rules="[{ required: true, message: `${tableTitle[2]}不能为空` }]">
                            <el-input @mousewheel.native.prevent type="number" v-model="scope.row.continuousPiece"
                                :disabled="!scope.row.status && scope.$index === 0"
                                @change="checkNumber(scope.row, 3)" />
                        </el-form-item>
                    </template>
                </el-table-column>
                <el-table-column align="center" :label="tableTitle[3]">
                    <template #default="scope">
                        <el-form-item label-width="0px" :prop="`transfees.${scope.$index}.continuousFee`"
                            :rules="[{ required: true, message: `${tableTitle[3]}不能为空` }]">
                            <el-input @mousewheel.native.prevent type="number" v-model="scope.row.continuousFee"
                                :disabled="!scope.row.status && scope.$index === 0"
                                @change="checkNumber(scope.row, 4)" />
                        </el-form-item>
                    </template>
                </el-table-column>
            </el-table>

            <el-form-item>
                <el-button v-if="!form.isFreeFee" style="margin-top: 21px" type="primary" :icon="Plus"
                    @click="addTransfee()">点击添加可配送的区域和运费
                </el-button>
            </el-form-item>
            <el-form-item>
                <el-checkbox v-model="form.hasFreeCondition" v-if="!form.isFreeFee" label="指定条件包邮" size="large" />
            </el-form-item>

            <el-table v-if="form.hasFreeCondition && !form.isFreeFee" :data="form.transfeeFrees" stripe border
                size="defalt" style="width: 100%">
                <el-table-column align="center" label="指定区域" width="350">
                    <template #default="scope">
                        <span v-if="!scope.row.freeCityList || !scope.row.freeCityList.length">请选择指定包邮城市</span>
                        <el-tag v-for="city in scope.row.freeCityList" :key="city.areaId">{{ city.areaName }}</el-tag>
                        <el-button size="small" type="primary" text @click="editRowsFee(scope.$index)">编辑</el-button>
                        <el-button size="small" type="primary" text @click="deleteRowsFee(scope.$index)">删除</el-button>
                    </template>
                </el-table-column>
                <el-table-column align="center" width="600" label="设置包邮条件">
                    <template #default="scope">
                        <el-radio-group v-model="scope.row.freeType" class="ml-4">
                            <el-radio :label=0>满件/重量/体积包邮</el-radio>
                            <el-radio :label=1>满金额包邮</el-radio>
                            <el-radio :label=2>满件/重量/体积且满金额包邮</el-radio>
                        </el-radio-group>
                    </template>
                </el-table-column>
                <el-table-column align="center">
                    <template #default="scope">
                        <el-form-item label-width="0px" :prop="`transfeeFrees.${scope.$index}.amount`"
                            v-if="scope.row.freeType === 1 || scope.row.freeType === 2"
                            :rules="[{ required: true, message: `不能为空` }]">
                            满 &nbsp;<el-input style="width: 100px" v-model="scope.row.amount"></el-input> &nbsp;元包邮
                        </el-form-item>
                        <el-form-item label-width="0px" :prop="`transfeeFrees.${scope.$index}.piece`"
                            v-if="scope.row.freeType === 0 || scope.row.freeType === 2"
                            :rules="[{ required: true, message: `不能为空` }]">
                            满 &nbsp;<el-input style="width: 100px" v-model="scope.row.piece"></el-input>
                            &nbsp;件/重量/体积包邮
                        </el-form-item>
                    </template>
                </el-table-column>
            </el-table>

            <el-form-item>
                <el-button v-if="!form.isFreeFee" style="margin-top: 11px" type="primary" :icon="Plus"
                    @click="addTransfeeFree()">点击添加指定包邮条件
                </el-button>
            </el-form-item>
            <el-form-item>
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit">确定</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <Citydialog ref="C" @getDataList="getDataList"></Citydialog>
</template>
  
<script lang="ts" setup>
import { ref, reactive, watch, toRefs, defineEmits, computed, nextTick, watchEffect } from 'vue'
import { ElMessageBox, ElMessage } from 'element-plus'
import { _addFreight, _geteditFreight, _editFreight } from '../../../api/store'
import { Plus } from '@element-plus/icons-vue'
import Citydialog from './citydialog.vue'

const emits = defineEmits(['getNotice'])
const props = defineProps({
    isadd: {
        type: Boolean
    },
    idf: {
        type: Number
    }
})
const { idf, isadd } = toRefs(props)
const dialogVisible = ref<any>(false)
const editVisible = ref<boolean>(false)
const editList = ref<any>([])
const C = ref<any>(null)

const form: any = reactive({
    hasFreeCondition: 0,
    transName: '',
    isFreeFee: 0,
    chargeType: 0,
    transfees: [{ cityList: [], status: 1 }],
    transfeeFrees: [{ freeCityList: [], freeType: 0 }],
})

const tableTitle = computed(() => {
    let titles = [['首件(个)', '运费(元)', '续件(个)', '续费(元)'], ['首重(kg)', '运费(元)', '续重(kg)', '续费(元)'], ['首体积(m³)', '运费(元)', '续体积(m³)', '续费(元)']]
    if (form.chargeType) {
        return titles[form.chargeType]
    }
    return titles[0]
})

watch(idf as any, async (newValue, oldValue) => {
    if (newValue) {
        const res: any = await _geteditFreight(newValue)
        editList.value = res.data
        editList.value.hasFreeCondition = !!editList.value.hasFreeCondition
        Object.assign(form, res.data)
    } else {
        Object.assign(form, editList.value)
    }
})

// 监听是新增还是修改
watchEffect(() => {
    if (props.isadd) {
        Object.assign(form, {
            hasFreeCondition: 0,
            transName: '',
            isFreeFee: 0,
            chargeType: 0,
            transfees: [{ cityList: [], status: 1 }],
            transfeeFrees: [{ freeCityList: [], freeType: 0 }],
        })
    } else {
        Object.assign(form, editList.value)
    }
})

watchEffect(() => {
    if (!form.isFreeFee && !props.isadd) {
        Object.assign(form, editList.value)
        form.transfees[0].status = 1
    }
})

const onSubmit = async () => {
    form.hasFreeCondition = form.hasFreeCondition ? 1 : 0
    if (props.isadd) {
        if (form.transName !== '') {
            await _addFreight(form)
            Object.assign(form, {
                hasFreeCondition: 0,
                transName: '',
                isFreeFee: 0,
                chargeType: 0,
                transfees: [{ cityList: [], status: 1 }],
                transfeeFrees: [{ freeCityList: [], freeType: 0 }],
            })
            ElMessage({
                type: 'success',
                message: '新增成功',
            })
        } else {
            ElMessage({
                message: '公告标题不得为空',
                type: 'warning',
            })
        }
        emits('getNotice')
    } else {
        await _editFreight(form)
        emits('getNotice')
        ElMessage({
            type: 'success',
            message: '修改成功',
        })
    }
    dialogVisible.value = false
}

const handleClose = (done: () => void) => {
    ElMessageBox.confirm(`确定要关闭${props.isadd ? '新增' : '编辑'}窗口吗?`)
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}

const changeFreeFee = (val: any) => {
    form.hasFreeCondition = 0;
    if (val) {
        form.chargeType = 0
        form.transfees = [{ cityList: [], status: 0, firstPiece: 1, firstFee: 0, continuousPiece: 1, continuousFee: 0 }]
    } else {
        form.transfees = [{ cityList: [], status: 1 }]
    }
}

const getNumber = (num: number) => {
    num = Math.round(num)
    return num < 0 ? 0 : num
}

const checkNumber = (row: any, type: number) => {
    if (type === 1) {
        row.firstPiece = getNumber(row.firstPiece)
        row.firstPiece = row.firstPiece === 0 ? 1 : row.firstPiece
    } else if (type === 3) {
        row.continuousPiece = getNumber(row.continuousPiece)
        row.continuousPiece = row.continuousPiece === 0 ? 1 : row.continuousPiece
        console.log(row);
    }
    else if (type === 2) {
        row.firstFee = row.firstFee === 0 ? 1 : row.firstFee
    }
    else if (type === 4) {
        row.continuousFee = row.continuousFee === 0 ? 1 : row.continuousFee
        console.log(row);

    }
}

const addTransfee = () => {
    editVisible.value = true
    form.transfees.push({ cityList: [], status: 1 })
}

const addTransfeeFree = () => {
    if (form.hasFreeCondition) {
        form.transfeeFrees.push({ freeCityList: [], freeType: 0 })
    }
}

const editRows = (index: number) => {
    C.value.cityVisible = true;
    let allSelectCityList: any[] = [];
    for (let i = 1; i < form.transfees.length; i++) {
        const cityList = form.transfees[i].cityList
        allSelectCityList = allSelectCityList.concat(cityList)
    }
    nextTick(() => {
        C.value.init(index, form.transfees[index].cityList || [], allSelectCityList, 0)
    })
}

const deleteRows = (rowIndex: number) => {
    form.transfees.splice(rowIndex, 1)
}

const editRowsFee = (index: number) => {
    C.value.cityVisible = true;
    let allSelectCityList: any[] = [];
    for (let i = 1; i < form.transfeeFrees.length; i++) {
        const freeCityList = form.transfeeFrees[i].freeCityList
        allSelectCityList = allSelectCityList.concat(freeCityList)
    }
    nextTick(() => {
        C.value.init(index, form.transfeeFrees[index].freeCityList || [], allSelectCityList, 1)
    })
}

const deleteRowsFee = (rowIndex: number) => {
    form.transfeeFrees.splice(rowIndex, 1)
}

const getDataList = (row: number, cityList: any, type: any) => {
    if (type.value === 0) {
        form.transfees[row].cityList = cityList
        console.log(cityList, 'cityList');

    }
    if (type.value === 1) {
        form.transfeeFrees[row].freeCityList = cityList
        console.log(cityList, 'cityListcityList');
    }
}

defineExpose({
    dialogVisible
})

</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}
</style>