<template>
    <el-dialog v-model="dialogVisible" :title="props.isadd ? '新增' : '修改'" width="50%" :before-close="handleClose">
        <el-form :model="form" label-width="120px">
            <el-form-item label="轮播图片" prop="imgUrl">
                <!-- <Uploadimg ref="U" @uploadSuccess="uploadSuccess"></Uploadimg> -->
                <el-upload class="avatar-uploader" action="#" :show-file-list="false" :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload" :auto-upload="false" :on-change="handleAvatarChange">
                    <img v-if="form.imgUrl" :src="form.imgUrl" class="avatar" />
                    <el-icon v-else class="avatar-uploader-icon">
                        <Plus />
                    </el-icon>
                </el-upload>
            </el-form-item>
            <el-form-item label="顺序">
                <el-input-number v-model="form.seq" :min="0" controls-position="right" />
            </el-form-item>
            <el-form-item label="状态">
                <el-radio-group v-model="form.status">
                    <el-radio :label=1>正常</el-radio>
                    <el-radio :label=0>下线</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="类型">
                <el-radio-group v-model="form.type">
                    <el-radio :label=-1>无</el-radio>
                    <el-radio :label=0>商品</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item v-if="buttonVisible">
                <el-button @click="setPick">选择商品</el-button>
            </el-form-item>
            <el-form-item v-if="form.pic">
                <el-card class="elcard" :body-style="{ padding: '0px' }">
                    <img :src="form.pic" class="image" />
                    <div style="padding: 4px">
                        <span class="spanNo">{{ form.prodName }}</span>
                        <div class="bottom">
                            <el-button text class="button" @click="deletecard">删除</el-button>
                        </div>
                    </div>
                </el-card>
            </el-form-item>
            <el-form-item>
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit">确定</el-button>
            </el-form-item>
        </el-form>
        <PickGoods ref="P" @setecard="setecard"></PickGoods>
    </el-dialog>
</template>
  
<script lang="ts" setup>
import { ref, reactive, watch, toRefs, defineEmits } from 'vue'
import { ElMessageBox, ElMessage } from 'element-plus'
import { _addSwiper, _getSwiper, _editSwiper, _uploadelement } from '../../../api/store'
import Uploadimg from '../uploadimg.vue'
import PickGoods from '../pikeGodds.vue'
import { Plus } from '@element-plus/icons-vue'
import type { UploadProps, UploadFile, UploadFiles } from 'element-plus'

const emits = defineEmits(['getNotice'])
const props = defineProps({
    isadd: {
        type: Boolean
    },
    idf: {
        type: Number
    }
})
const { idf, isadd } = toRefs(props)
const dialogVisible = ref<any>(false)
const buttonVisible = ref<any>(false)
const P = ref<any>(null)
const U = ref<any>(null)
const editList = ref<any>([])

const form: any = reactive({
    imgUrl: '',
    status: 1,
    seq: 0,
    type: -1,
    pic: '',
    prodName: ''
})

watch(idf as any, async (newValue, oldValue) => {
    console.log("新值是" + newValue, "旧址是" + oldValue);
    if (newValue) {
        const res: any = await _getSwiper(newValue)
        editList.value = res.data
        Object.assign(form, res.data)
    }
})
watch(isadd, (newValue, oldValue) => {
    if (newValue) {
        Object.assign(form, {
            imgUrl: '',
            status: 1,
            seq: 0,
            type: -1,
            pic: '',
            prodName: ''
        })
    } else {
        Object.assign(form, editList.value)
    }
})

watch(form, (newValue, oldValue) => {
    if (newValue.type === 0 && !form.pic) {
        buttonVisible.value = true
    } else {
        buttonVisible.value = false
    }
})


const onSubmit = async () => {
    if (props.isadd) {
        await _addSwiper(form)
        Object.assign(form, {
            imgUrl: '',
            status: 1,
            seq: 0,
            type: -1,
            pic: '',
            prodName: ''
        })
        ElMessage({
            type: 'success',
            message: '新增成功',
        })
        emits('getNotice')
    } else {
        await _editSwiper(form)
        emits('getNotice')
        ElMessage({
            type: 'success',
            message: '修改成功',
        })
    }
    dialogVisible.value = false
}

const handleClose = (done: () => void) => {
    ElMessageBox.confirm(`确定要关闭${props.isadd ? '新增' : '编辑'}窗口吗?`)
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}

const setPick = () => {
    P.value.dialogFormVisible = true
}

const deletecard = () => {
    form.pic = null
    form.prodName = null
    buttonVisible.value = true
}

const setecard = () => {
    console.log(P, 'ppppppppppppppppp');

    form.pic = P.value.newRow.pic
    form.prodName = P.value.newRow.prodName
    buttonVisible.value = false
    console.log(P.value.newRow, 'ccc');
}

const uploadSuccess = () => {
    form.imgUrl = U.value.imgUrl
    console.log(U.value.imgUrl, 'U.value');
    console.log(U.value, 'U.value');
}

// 上传
// change事件最为重要 上传时会调用
const handleAvatarChange = async (uploadFile: UploadFile, uploadFiles: UploadFiles) => {
    // const res = await _uploadelement(uploadFile.raw)
    // console.log(res, 'res');

    // 生成文件读取对象
    const fr: any = new FileReader()

    console.log(uploadFile.raw, 'frfr');

    // 当整个图片加载成功时触发onload
    fr.onload = () => {
        form.imgUrl = fr.result
    }
    // 将图片转为base64格式
    fr.readAsDataURL(uploadFile.raw)
}

const handleAvatarSuccess: UploadProps['onSuccess'] = (
    response,
    uploadFile
) => {
    console.log(response, uploadFile, 'handleAvatarSuccess');
    form.imgUrl = URL.createObjectURL(uploadFile.raw!)
}

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
    if (rawFile.type !== 'image/jpeg') {
        ElMessage.error('Avatar picture must be JPG format!')
        return false
    } else if (rawFile.size / 1024 / 1024 > 2) {
        ElMessage.error('Avatar picture size can not exceed 2MB!')
        return false
    }
    return true
}

defineExpose({
    dialogVisible
})

</script>
<style scoped>
.dialog-footer button:first-child {
    margin-right: 10px;
}


.elcard {
    width: 100px;
    height: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bottom {
    line-height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}

.button {
    padding: 0;
    min-height: auto;
    color: red;
}

.image {
    height: 80px;
    width: 100%;
    display: block;
}

.spanNo {
    width: 100px;
    height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
</style>

<!-- 上传 -->
<style scoped>
.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}
</style>

<style>
.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}
</style>