<template>
  <div style=" width: 100%;overflow: hidden;">
    <div style="padding-top: 15px" class="Adminhead_yong" v-if='fage'>
      用户名
      <el-input
        v-model="input2"
        placeholder="用户名"
        :prefix-icon="Search"
        style="width: 150px"
        class="Adminhead_yong_header"
      />
      <el-button type="primary" :icon="Search" class="Adminhead_yong_header"
     @click="Inputs()"
        >搜索</el-button
      >
      <el-button :icon="Delete" class="Adminhead_yong_header" @click="dels()">清空</el-button>
    </div>
    <div class="Admin_main">
      <div class="Admin_main_out">
        <el-button type="primary" @click="addTo()">新郑</el-button>
        <el-button type="danger" @click="del(adminIds)">批量删除</el-button>
      </div>
      <div class='Admin_main_two'>
        <el-tooltip content="刷新" placement="top">
          <!-- <el-icon><Refresh /></el-icon> -->
          <el-button class="Admin_icon" :icon="Refresh" @click='sUn()'></el-button>
        </el-tooltip>
        <el-tooltip content="显隐" placement="top">
          <!-- <el-icon><Menu /></el-icon> -->
          <el-button class="Admin_icon" :icon="Menu"></el-button>
        </el-tooltip>
        <el-tooltip content="搜索" placement="top">
          <!-- <el-icon><Search /></el-icon> -->
          <el-button class="Admin_icon" :icon="Search"
          @click="Admin_Sou()"
          ></el-button>
        </el-tooltip>
      </div>
    </div>
    <div>
      <p style="font-size: 12px;">当前表格也选择 <b>0</b> 项<a style="font-size: 10px" @click="clai()"> 清 空</a></p>
      <div>
    <el-table
    ref="multipleTableRef"
    :data="tableData"
    style="width: 100%"
    @selection-change="handleSelectionChange"
  >
    <el-table-column type="selection"  style='width:5%' />
    <el-table-column label="用户名" style='width:10%' prop='username'/>
    <el-table-column label="邮箱" style='width:15%' prop="email"/>
    <el-table-column label="手机号" style='width:15%' prop="mobile"/>
    <el-table-column label="创建时间" style='width:15%' prop='createTime'/>
    <el-table-column label="状态" style='width:15%' prop='status'>
      <template #default="scope">
      <el-tag v-if="scope.row.status==1" >
        正常
      </el-tag>
      <el-tag v-else >
        禁用
      </el-tag>
      </template>
      </el-table-column>

    <el-table-column label="操作">
      <template #default="scope">
        <el-button size="small" @click="handleEdit(scope.$index, scope.row)"
          >编辑</el-button
        >
        <el-button
          size="small"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)"
          >删除</el-button
        >
      </template>
    </el-table-column>
    </el-table>
      </div>
      
    </div>
    <Paginato :fath='fath' :page='page' :pageSize='pageSize' @Setpage='Setpage'
      @SetpageSize="'SetpageSize'"></Paginato>
    <!-- 增加回显 -->
    <div class="edits_box" v-if='edi'>
    <div class="main">
      <p class='Main_BX'>
        <span> <b>{{title}}</b></span>
        <span @click="Disaclick">X</span>
      </p>
        <el-form
    ref="ruleFormRef"
    :model="ruleForm"
    :rules="rules"
    label-width="120px"
    class="demo-ruleForm"
    :size="formSize"
    status-icon
    style="margin-top: 15px;"
  >
    <el-form-item label="用户名" prop="username">
      <el-input v-model="ruleForm.username" />
    </el-form-item>
    <el-form-item label="密码" prop="password">
      <el-input v-model="ruleForm.password" />
    </el-form-item>
    <el-form-item label="确认密码" prop="password2">
      <el-input v-model="ruleForm.password2" />
    </el-form-item>
    <el-form-item label="邮箱" prop="email">
      <el-input v-model="ruleForm.email" />
    </el-form-item>
    <el-form-item label="手机号" prop="mobile">
      <el-input v-model="ruleForm.mobile" />
    </el-form-item>
    <el-form-item label="角色" prop="userId">
            <el-checkbox-group v-model="ruleForm.type">
              <el-checkbox
                v-for="(item, index) in typedata"
                :key="index"
                :label="item.roleId"
                >{{ item.roleName }}</el-checkbox
              >
            </el-checkbox-group>
          </el-form-item>
    <el-form-item label="Resources" :prop="ruleForm.status">
      <el-radio-group v-model="ruleForm.status">
        <el-radio :label="1" >正常</el-radio>
        <el-radio :label="0" >禁用</el-radio>
      </el-radio-group>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="submitForm"
        >提交</el-button
      >
      <el-button @click="resetForm(ruleFormRef)">取消</el-button>
    </el-form-item>
  </el-form>
    </div>
</div>  

  </div>
</template>
<script lang="ts" setup>
import { nextTick, ref ,reactive,onMounted ,defineProps, toRefs,defineEmits} from "vue";
import { Calendar, Search } from "@element-plus/icons-vue";
import { Check, Delete, Edit, Message, Star ,Refresh,Menu,} from "@element-plus/icons-vue";
import { ElTable } from "element-plus";
import type { FormInstance, FormRules } from 'element-plus'
import {System_Administrator,System_Administrator_Get_Role,
        Administator_Get_Info,Administator_Put_User,
        Administator_Post_User,Administator_Delete_User} from '../../../../api/system'
import Paginato from '../componend/paginato.vue'
import input from "element-plus/es/components/input";
// import Paginato from '../componend/paginato.vue'
//搜索
const input2 = ref("");
let page=1
  let pageSize=10
let usernames:any=''
const Inputs=()=>{
  if(input2.value!=""){
    usernames=input2.value
    console.log(123);
    
  }else{
    usernames=''
    console.log(123);
  }
 
  getset()
}
const dels=()=>{
  input2.value=''
  getset()
}
//分页
const fath=ref()
const SetpageSize=(props:number)=>{
   pageSize=props
console.log(page,pageSize,'pros');
getset()
}
const Setpage=(props:number)=>{
   page=props
  console.log(page,pageSize,'pros');          
  getset()
}
//刷新
const sUn=()=>{
  getset()

}
const clai=()=>{
  console.log(111);
}
interface User {
 createTime: string,
 email:  string,
 mobile:  string,
 roleIdList: null
 shopId: number,
 status: number,
 userId: number,
 username:  string,
}

let ruleForm = reactive({
    username: '',
    password:'',
    password2:"",
    email: '',
    mobile: '',
    status: '',
  type:[],
  userId:0,
})
const multipleTableRef = ref<InstanceType<typeof ElTable>>()
const multipleSelection = ref<any[]>([])
const fage=ref(true)
const edi=ref(false)
const title=ref('')
const adminIds = ref<number[]>();
const handleSelectionChange = (val:any) => {
  multipleSelection.value = val
  adminIds.value=multipleSelection.value.map((item)=>item.userId as number)
  console.log(adminIds,'val')
}
const tableData: any =ref([])
let userIds=ref()
//编辑回显
const handleEdit = async(index: number, row: any) => {
  title.value='编辑'
  edi.value=true
  const res:any= await Administator_Get_Info(row.userId)
  ruleForm.username=res.data.username
  ruleForm.email=res.data.email
  ruleForm.mobile=res.data.mobile
  ruleForm.status=res.data.status
  ruleForm.type=res.data.roleIdList
  ruleForm.userId=row.userId
}
const handleDelete = async(index: number, row: any) => {
  let num = row.userId as number;
  adminIds.value = [num];
  console.log(index, row)
  del(adminIds.value)
 
}
const del=async(adminIds:any[])=>{
  console.log(adminIds, 'adminIds')
  const res=await Administator_Delete_User(adminIds as number[])
  getset()
}

const getset=async()=>{
  console.log(  page,pageSize,usernames,'page,pageSize,usernames')
  const result:any=await System_Administrator({page,pageSize,usernames})  
  tableData.value=result.data.records
  fath.value=result.data.total
  console.log(result,' fath.value=result.data.total');
  
}
getset()
const Admin_Sou=()=>{
  console.log(fage);
  fage.value=!fage.value
}
const addTo=()=>{
  title.value='新增'
  edi.value=true
}
//增加回显
const formSize = ref('default')
const ruleFormRef = ref<FormInstance>()
  const rules = reactive<FormRules>({
    username: [
    { required: true, message: 'Please input Activity name', trigger: 'blur' },
    { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' },
  ],
  password: [
    {
      required: true,
      message: 'Please select Activity zone',
      trigger: 'change',
    },  
  ],
  password2: [
    {
      required: true,
      message: 'Please select Activity count',
      trigger: 'change',
    },
  ],
  email: [
    {
      type: 'email',
      required: true,
      message: 'Please pick a date',
      trigger: 'change',
    },
  ],
})
const submitForm= async()=>{
  if(title.value=='编辑'){
    console.log(title.value,'title')
    console.log(ruleForm,'setruleForm');
    const res=await Administator_Put_User({...ruleForm})
  }else{
    console.log(title.value,'title')
    const res=await Administator_Post_User({...ruleForm})
  }
  getset()
  edi.value=false
}
const resetForm = (formEl: FormInstance | undefined) => {
  edi.value=false
}

const options = Array.from({ length: 10000 }).map((_, idx) => ({
  value: `${idx + 1}`,
  label: `${idx + 1}`,
}))
const typedata: any =ref([])
const datc=async()=>{
  const results:any=await System_Administrator_Get_Role()
  typedata.value=results.data.records
  console.log(typedata,'typedata')
}
datc()
const  Disaclick=()=>{
  edi.value=false
}
</script>
<style scoped>
.demo-pagination-block + .demo-pagination-block {
  margin-top: 10px;
}
.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
.Adminhead_yong {
  width: 100%;
  height: 54px;
}
.Adminhead_yong_header {
  margin-left: 8px;
}
.Admin_icon{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.Admin_main{
width: 100%;
  height: 40px;
  line-height: 40px;
}
.Admin_main_out{
  float: left;
}
.Admin_main_two{
  float: right;
}
.edits_box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index:12;
}
.main{
    position:fixed;
    top:10%;
    left:32%;
    width:470px;
    height:600px;
    background:#fff;
    z-index:2;
}
.Main_BX{
  margin: 5px 5px 0 5px;
  display: flex;
    justify-content: space-between;
}
</style>
