<template>
    <div>
        <el-button text @click="dialogVisible = true">
            click to open the Dialog
        </el-button>

        <el-dialog class="main" v-model="dialogVisible" title="修改" width="30%" :before-close="handleClose">
            <h4>用户头像</h4>
            <p>用户昵称：<input type="text"></p>
            <div class="staus"><span>状态：</span>
                <div class="mb-2 flex items-center text-sm">
                    <el-radio-group v-model="radio1" class="ml-4">
                        <el-radio label="1" size="large">禁用</el-radio>
                        <el-radio label="2" size="large">正常</el-radio>
                    </el-radio-group>
                </div>
            </div>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogVisible = false">Cancel</el-button>
                    <el-button type="primary" @click="dialogVisible = false">
                        Confirm
                    </el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { ElMessageBox } from 'element-plus'

const dialogVisible = ref(false)

const handleClose = (done: () => void) => {
    ElMessageBox.confirm('Are you sure to close this dialog?')
        .then(() => {
            done()
        })
        .catch(() => {
            // catch error
        })
}


const radio1 = ref('1')
const radio2 = ref('1')
const radio3 = ref('1')
</script>
<style scoped lang="scss">
.dialog-footer button:first-child {
    margin-right: 10px;
}

.el-dialog {
    width: 500px !important;

    h4,
    p {
        height: 50px;
    }

    .staus {
        display: flex;

        span {
            height: 40px;
            width: 50px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
        }
    }
}
</style>
