<template>
  <div class="contentbox">
    <transition name="moveing">
      <!-- 搜索列表 -->
      <div class="top" v-if="searchflag">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
          <el-form-item label="公告标题">
            <el-input v-model="formInline.title" placeholder="公告标题" />
          </el-form-item>
          <el-form-item label="状态">
            <el-select v-model="formInline.status" placeholder="状态">
              <el-option label="公布" :value=1 />
              <el-option label="撤销" :value=0 />
            </el-select>
          </el-form-item>
          <el-form-item label="是否置顶">
            <el-select v-model="formInline.isTop" placeholder="是否置顶">
              <el-option label='是' :value=1 />
              <el-option label='否' :value=0 />
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" :icon="Search" @click="onSubmit">搜索</el-button>
            <el-button :icon="Delete" @click="resetForm">清空</el-button>
          </el-form-item>
        </el-form>
      </div>
    </transition>
    <!-- 右上角 -->
    <div class="mid">
      <div class="left">
        <el-button type="primary" :icon="Plus" @click="handleAdd">新增</el-button>
      </div>
      <div class="right">
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
          <template #reference>
            <el-button :icon="Refresh" circle @click="refresh" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
          <template #reference>
            <el-button :icon="Menu" circle @click="setmenu" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
          <template #reference>
            <el-button :icon="Search" circle @click="setflag" />
          </template>
        </el-popover>
      </div>
    </div>
    <!-- 表格 -->
    <div class="bottom">
      <el-table v-if="Noticelist.length" :data="Noticelist" stripe border size="defalt" style="width: 100%">
        <el-table-column align="center" label="序号" min-width="70">
          <template #default="scope">
            <span>{{ scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" label="公告标题" min-width="164" v-if="noticeShow[0].showIs">
          <template #default="scope">
            <span>{{ scope.row.title }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" label="状态" min-width="164" v-if="noticeShow[1].showIs">
          <template #default="scope">
            <el-tag :type="scope.row.status ? '' : 'danger'">{{ scope.row.status ? '公布' : '撤销' }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column align="center" label="是否置顶" min-width="164" v-if="noticeShow[2].showIs">
          <template #default="scope">
            <el-tag :type="scope.row.isTop ? '' : 'danger'">{{ scope.row.isTop ? '是' : '否' }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column min-width=""></el-table-column>
        <el-table-column align="center" label="操作" min-width="142">
          <template #default="scope">
            <el-button size="defalt" type="primary" @click="handleEdit(scope.$index, scope.row)" :icon="EditPen">修改
            </el-button>
            <el-button size="defalt" type="danger" @click="handleDelete(scope.$index, scope.row)" :icon="Delete">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-empty v-else description="暂无数据" />
    </div>
    <!-- 公共组件-分页器 -->
    <Pagination :total="Reslist.total" ref="P" @getNotice="getNotice" />
    <!-- 公共组件-新增/修改 -->
    <NoticedialogVue ref="V" :idf="idf" :isadd='isadd' @getNotice="getNotice" />
    <!-- 公共组件-穿梭框 -->
    <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" @getNotice="getNotice" />
  </div>
</template>

<script lang="ts" setup>
import { onMounted, reactive, ref } from 'vue'
// 接口方法
import { _notice, _deleteNotice } from '../../../../api/store'
// 公共组件-新增/修改
import NoticedialogVue from '../../../../components/store/notice/noticedialog.vue';
// 公共组件-穿梭框
import Transfer from '../../../../components/store/transfer.vue'
// 公共组件-分页器
import Pagination from '../../../../components/store/pagination.vue'
import { Search, Plus, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import { ElMessage, ElMessageBox } from 'element-plus'


interface User {
  id: number,
  shopId: number,
  title: string,
  content: string,
  status: number,
  isTop: number,
  publishTime: string,
  updateTime: string
}
interface Option {
  key: number
  label?: string
  disabled?: boolean
}

onMounted(() => {
  getNotice()
})

const idf = ref<number>(0)
const isadd = ref<boolean>(false)
const V = ref<any>(null)
const T = ref<any>(null)
const P = ref<any>(null)
const Reslist = ref<any>([])
const Noticelist = ref<any>([])
const searchflag = ref(true)
// 穿梭框
const arr = ref([0, 1, 2])
const data = ref<Option[]>([
  { key: 0, label: '公告标题', disabled: false },
  { key: 1, label: '状态', disabled: false },
  { key: 2, label: '是否置顶', disabled: false }
])
// 穿梭框数据
const noticeShow = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true },
  { key: 2, showIs: true }
])

// 双向绑定的数据
const formInline = reactive({
  title: '',
  status: '',
  isTop: ''
})

// 获取接口数据
const getNotice = async () => {
  const res: any = await _notice({
    current: P.value.current,
    size: P.value.size
  })
  Reslist.value = res.data
  Noticelist.value = res.data.records
  console.log(Noticelist.value);
  console.log(Reslist.value);
}

// 点击新增
const handleAdd = () => {
  isadd.value = true;
  V.value.dialogVisible = true;
}

// 点击修改
const handleEdit = (index: number, row: User) => {
  isadd.value = false;
  V.value.dialogVisible = true;
  console.log(index, row)
  idf.value = row.id

}

// 单个删除
const handleDelete = (index: number, row: User) => {
  console.log(index, row)
  // 二次确认
  ElMessageBox.confirm(
    '确定进行删除操作?',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      const res = await _deleteNotice(row.id)
      getNotice()
      console.log(res, 'ers');
      ElMessage({
        type: 'success',
        message: '删除成功',
      })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '取消删除',
      })
    })
}


// 右上角
const refresh = () => {
  getNotice()
}

const setmenu = () => {
  T.value.dialogTableVisible = true
}

const setflag = () => {
  searchflag.value = !searchflag.value
  console.log(searchflag.value);
}




// 搜索列表
const onSubmit = async () => {
  console.log(formInline);
  const res: any = await _notice({
    current: P.value.current,
    size: P.value.size,
    ...formInline
  })
  Noticelist.value = res.data.records
  Reslist.value = res.data
}
// 重置按钮
const resetForm = () => {
  Object.assign(formInline, {
    title: '',
    status: '',
    isTop: ''
  })
}

</script>

<style lang="scss" scoped>
.contentbox {
  width: 95%;
  height: 96%;
  padding-top: 15px;
  margin-left: 2.5%;

  .mid {
    min-height: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .bottom {
    margin-top: 10px;
  }
}

.el-tag {
  background-color: rgba(2, 161, 233, .1);
  border: 1px solid rgba(2, 161, 233, .2);
}

.el-tag--danger {
  background-color: rgba(245, 108, 108, .1);
  border-color: rgba(245, 108, 108, .2);
}

// 按钮样式
.el-button--primary {
  background-color: #02A1E9;
  width: 73px;
  height: 32px;
}

.el-button--danger {
  width: 73px;
  height: 32px;
}

.el-button {
  font-size: 12px;
}

// 动画效果
.moveing-enter-active {
  animation: move 0.2s linear;
}

.moveing-leave-active {
  animation: move 0.2s reverse linear;
}

@keyframes move {
  from {
    transform: translateY(-30%);
  }

  to {
    transform: translateY(0px);
  }
}
</style>