<template>
  <div class="contentbox">
    <div class="top">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="属性名称">
          <el-input v-model="formInline.propName" placeholder="属性名称" />
        </el-form-item>
        
        <el-form-item>
          <el-button type="primary" :icon="Search" @click="onSubmit">搜索</el-button>
          <el-button :icon="Delete" @click="reset">清空</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="mid">
      <div class="left">
        <el-button type="primary" :icon="Plus" @click="handleAdd">新增</el-button>
      </div>
      <div class="right">
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
          <template #reference>
            <el-button :icon="Refresh" circle @click="refresh" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
          <template #reference>
            <el-button :icon="Menu" circle @click="setmenu" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
          <template #reference>
            <el-button :icon="Search" circle  />
          </template>
        </el-popover>
      </div>
    </div>
    <div class="bottom">
      <el-table :data="tableData" stripe border size="defalt" style="width: 100%">
        <el-table-column align="center" label="序号" min-width="70">
          <template #default="scope">
            <span>{{ scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" label="属性名称" min-width="164" v-if="noticeShow[0].showIs">
          <template #default="scope">
            <span>{{ scope.row.propName }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" label="属性值" min-width="164" v-if="noticeShow[1].showIs">
          <template #default="scope">
            <!-- <el-tag>{{ scope.row.status ? '公布' : '撤销' }}</el-tag> -->
            <el-tag v-for="(item,index) in scope.row.prodPropValues" :key="index">{{ item.propValue}}</el-tag>
          </template>
        </el-table-column>
        <el-table-column align="center" label="" min-width="164">
          
        </el-table-column>
        <el-table-column align="center" label="操作" min-width="162">
          <template #default="scope">
            <el-button size="defalt" type="primary" @click="handleEdit(scope.$index, scope.row)" :icon="EditPen">修改
            </el-button>
            <el-button size="defalt" type="danger" @click="handleDelete(scope.$index, scope.row)" :icon="Delete">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 公共组件-分页器 -->
    <Pagination :total="total" ref="pagination" @getNotice="getNotice" />
    <!-- 公共组件-穿梭框 -->
    <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" @getNotice="getNotice" />

    <SpecifiDialog ref="dialog" :isadd="isadd" :flagId="flagId" @getNotice='getNotice'/>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, reactive, ref } from 'vue'
import { Search, Plus, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import {getGurdList} from "../api/request"
import Pagination from "../../../../components/store/pagination.vue"
import Transfer from "../../../../components/store/transfer.vue"
import {searchGurd,deleteGurd} from "../api/request"
import SpecifiDialog from "../../../../components/product/specifiDialog.vue"
import type { Action } from 'element-plus'
const total=ref<number>(0)
const pagination = ref<any>(null)
const T = ref<any>(null)
const isadd = ref<boolean>(false)
const dialog = ref<any>(null)
const flagId = ref<any>({})

interface Option {
  key: number
  label?: string
  disabled?: boolean
}

interface User {
  date: string
  name: string
  address: string
  propId:number
}

// 穿梭框
const arr = ref([0, 1])
const data = ref<Option[]>([
  { key: 0, label: '属性名称', disabled: false },
  { key: 1, label: '属性值', disabled: false }
])

const noticeShow = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true }
])

onMounted(() => {
  getNotice()
})

const tableData = ref<any>([])

const getNotice = async () => {
  const res: any = await getGurdList({
    size: pagination.value.size,
    current: pagination.value.current
  })
  if(res.status===200){
    tableData.value=res.data.records
    
    total.value=res.data.total
    console.log(tableData.value)
  }
}

//修改
const handleEdit = (index: number, row: User) => {
  console.log(index, row)
  isadd.value = false;
  flagId.value = row
  dialog.value.dialogVisible = true;
  console.log(flagId.value, row.propId)
}
const handleDelete =async (index: number, row: User) => {
  ElMessageBox.confirm(
    '确定进行删除操作吗？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      const res=await deleteGurd([row.propId])
      ElMessage({
        type: 'success',
        message: '操作成功',
      })
      setTimeout(()=>{
        getNotice()
      },1000)
    })
    .catch(() => {
      
    })
}

const formInline = reactive({
  propName: '',
})

const onSubmit =async () => {
  console.log('submit!')
  console.log(formInline)
  const res:any=await searchGurd({
    propName:formInline.propName,
    size: pagination.value.size,
    current: pagination.value.current
  })
  if(res.status===200){
    tableData.value=res.data.records
    total.value=res.data.total
    console.log(total.value)
  }
}

const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`)
}
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`)
}

// 右上角  刷新
const refresh = () => {
  getNotice()
}

//穿梭框
const setmenu = () => {
  T.value.dialogTableVisible = true
}

//新增
//新增
const handleAdd = () => {
  isadd.value = true;
  dialog.value.dialogVisible = true;
}

//清空搜索
const reset=()=>{
  formInline.propName=''
}

</script>

<style lang="scss" scoped>
.contentbox {
  width: 95%;
  height: 95%;
  padding: 2.5%;

  .mid {
    min-height: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .bottom {
    margin-top: 10px;
  }
}

.demo-pagination-block {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.el-tag {
  background-color: rgba(2, 161, 233, .1);
}

.el-button--primary {
  background-color: #02A1E9;
  width: 73px;
  height: 32px;
}

.el-button--danger {
  width: 73px;
  height: 32px;
}
</style>