<template>
  <div>
    <el-input v-model="filterText" style="width:400px" placeholder="地区关键词" />
    <el-button type="primary" @click="add">新增</el-button>
    <div class="custom-tree-container">

      <el-tree :data="datas" ref="treeRef" node-key="id" :expand-on-click-node="false" :filter-node-method="filterNode">
        <template #default="{ node, data }">
          <span class="custom-tree-node">
            <span class="ha">{{ node.label }}</span>
            <span class="operations">
              <span @click="haha(data)">
                <svg t="1667354389632" class="icon" viewBox="0 0 1024 1024" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" p-id="6047" width="10" height="10">
                  <path d="M79.36 916.48h343.04v51.2H79.36z" fill="#1296db" p-id="6048"></path>
                  <path d="M550.4 916.48h376.32v51.2H550.4z" fill="#1296db" p-id="6049"></path>
                  <path d="M629.76 158.72l215.04 215.04L373.76 844.8l-215.04-215.04L629.76 158.72z m0 0" fill="#1296db"
                    p-id="6050"></path>
                  <path d="M716.8 74.24l215.04 215.04-64 64-215.04-215.04L716.8 74.24z m0 0" fill="#1296db" p-id="6051">
                  </path>
                  <path d="M138.24 652.8l215.04 215.04L51.2 952.32l87.04-299.52z m0 0" fill="#1296db" p-id="6052">
                  </path>
                  <path
                    d="M798.72 71.68L931.84 204.8c23.04 23.04 20.48 58.88-2.56 81.92-23.04 23.04-61.44 25.6-81.92 2.56l-133.12-133.12c-23.04-20.48-23.04-58.88 2.56-81.92 23.04-23.04 58.88-25.6 81.92-2.56z m0 0"
                    fill="#1296db" p-id="6053"></path>
                </svg>
                修改 </span>
              <span style="margin-left: 8px">
                <svg t="1667354269830" class="icon" viewBox="0 0 1024 1024" version="1.1"
                  xmlns="http://www.w3.org/2000/svg" p-id="2719" width="10" height="10">
                  <path
                    d="M861.184 192.512q30.72 0 50.688 10.24t31.744 25.6 16.384 33.28 4.608 33.28q0 7.168-0.512 11.264t-0.512 7.168l0 6.144-67.584 0 0 537.6q0 20.48-8.192 39.424t-23.552 33.28-37.376 23.04-50.688 8.704l-456.704 0q-26.624 0-50.176-8.192t-40.448-23.04-26.624-35.84-9.728-47.616l0-527.36-63.488 0q-1.024-1.024-1.024-5.12-1.024-5.12-1.024-31.744 0-13.312 6.144-29.696t18.432-30.208 31.744-23.04 46.08-9.216l91.136 0 0-62.464q0-26.624 18.432-45.568t45.056-18.944l320.512 0q35.84 0 49.664 18.944t13.824 45.568l0 63.488q21.504 1.024 46.08 1.024l47.104 0zM384 192.512l320.512 0 0-64.512-320.512 0 0 64.512zM352.256 840.704q32.768 0 32.768-41.984l0-475.136-63.488 0 0 475.136q0 21.504 6.656 31.744t24.064 10.24zM545.792 839.68q17.408 0 23.552-9.728t6.144-31.232l0-475.136-63.488 0 0 475.136q0 40.96 33.792 40.96zM738.304 837.632q18.432 0 24.576-9.728t6.144-31.232l0-473.088-64.512 0 0 473.088q0 40.96 33.792 40.96z"
                    p-id="2720" fill="#1296db"></path>
                </svg>
                删除 </span>
            </span>
          </span>
        </template>
      </el-tree>
    </div>

    <el-dialog v-model="dialogVisible" :title="title" width="30%" :before-close="handleClose">
      <div>
        <el-form ref="ruleFormRef" :model="ruleForm" status-icon :rules="rules" label-width="120px"
          class="demo-ruleForm">
          <el-form-item label="地区名称" prop="pass">
            <el-input v-model="ruleForm.pass" type="password" autocomplete="off" />
          </el-form-item>
          <el-form-item label="上级地区" prop="checkPass">
            <div class="example-block">
              <el-cascader :options="datas" v-model="ruleForm.checkPass" :props="props1" clearable />
            </div>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="dialogVisible = false">取消</el-button>
            <el-button @click="submitForm(ruleFormRef)">确定</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- <template #footer> -->
      <!-- <span class="dialog-footer">
          <el-button @click="dialogVisible = false"></el-button>
          <el-button type="primary" @click="dialogVisible = false">
            
          </el-button>
        </span>
      </template> -->
    </el-dialog>
  </div>
</template>
<script lang="ts" setup>
import { onMounted, watch } from 'vue'
import { address } from "../../../../api/login";
import { ElTree } from 'element-plus'
import type Node from 'element-plus/es/components/tree/src/model/node'

import { ElMessageBox } from 'element-plus'
import { reactive, ref } from 'vue'
import type { FormInstance } from 'element-plus'

const ruleFormRef = ref<FormInstance>()

const checkAge = (rule: any, value: any, callback: any) => {
  if (!value) {
    return callback(new Error('Please input the age'))
  }
  callback()
}
const title = ref('新增')
const add = () => {
  title.value = '新增'
  dialogVisible.value = true

}
const props1 = {
  checkStrictly: true,
}

const props2 = {
  multiple: true,
  checkStrictly: true,
}

const validatePass = (rule: any, value: any, callback: any) => {
  if (value === '') {
    callback(new Error('Please input the password'))
  }
  callback()

}
const validatePass2 = (rule: any, value: any, callback: any) => {
  if (value === '') {
    callback(new Error('Please input the password again'))
  } else {
    callback()
  }
}

const ruleForm = reactive({
  pass: '',
  checkPass: '',
  age: '',
})

const rules = reactive({
  pass: [{ validator: validatePass, trigger: 'blur' }],
  checkPass: [{ validator: validatePass2, trigger: 'blur' }],
  age: [{ validator: checkAge, trigger: 'blur' }],
})

const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.validate((valid) => {
    if (valid) {
      console.log('submit!')
      console.log(ruleForm);
      dialogVisible.value = false

    } else {
      console.log('error submit!')
      return false
    }
  })
}

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
  dialogVisible.value = false
}
const dialogVisible = ref(false)

const handleClose = (done: () => void) => {
  ElMessageBox.confirm('确定要关闭嘛?')
    .then(() => {
      done()
    })
    .catch(() => {
      // catch error
    })
}
const datas: any = ref([])
const fun = async () => {
  const { data }: any = await address()
  const haha = action(data, 0, [])

  datas.value = oder(haha)

}

const oder = (data: any) => {
  const dataData = data.map((item: any, index: number) => {
    if (item.children) {
      return {
        value: item.areaName,
        label: item.areaName,
        children: oder(item.children)
      }
    }
    return {
      label: item.areaName,
    }

  })
  return dataData

}
const action = (data: any, id: any, list: any) => {
  for (let item of data) {
    if (item.parentId === id) {
      list.push(item)
    }
  }
  for (let i of list) {
    i.children = [];
    action(data, i.areaId, i.children)

  }
  return list
}
onMounted(() => {
  fun()
})
//添加
const haha = (data: any) => {
  title.value = '修改'
  dialogVisible.value = true;

}
interface Tree {
  id: number
  label: string
  children?: Tree[]
}
let id = 1000


const renderContent = (
  h: any,
  {
    node,
    data,
    store,
  }: {
    node: Node
    data: Tree
    store: Node['store']
  }
) => {
  return h(
    'span',
    {
      class: 'custom-tree-node',
    },
    h('span', null, node.label),
    h(
      'span',
      null,
      h(
        'a',
        {
          onClick: () => haha(data),
        },
        'Append '
      ),
      h(
        'a',
        {
          style: 'margin-left: 8px',
          onClick: () => haha(node),
        },
        'Delete'
      )
    )
  )
}
const treeRef = ref<InstanceType<typeof ElTree>>()
const filterText = ref('')
watch(filterText, (val) => {
  treeRef.value!.filter(val)
})
const filterNode = (value: string, data: Tree) => {
  if (!value) return true
  return data.label.includes(value)
}
</script>

<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}

.operations {
  color: #02A1E9;
}

.custom-tree-node {
  display: inline-block;
  width: 81vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

.ha {
  width: 150px;
  display: inline-block;

}

.example-block {
  margin: 1rem;
}

.example-demonstration {
  margin: 1rem;
}
</style>