<template>
  <el-config-provider :locale="locale">
    <router-view />
  </el-config-provider>

</template>

<script>
import { defineComponent } from 'vue'
import { ElConfigProvider } from 'element-plus'

import zhCn from 'element-plus/dist/locale/zh-cn.mjs'

export default defineComponent({
  components: {
    ElConfigProvider,
  },
  setup() {
    return {
      locale: zhCn,
    }
  },
})
</script>

<style>
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body,
#app {
  width: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;

}
</style>