/<template>
  <div style="margin-left: 10px; margin-right: 10px;padding-top: 10px; width: 98%;height: 100%;">
    <div class="Timed_head">
        <div>
            <el-input
               v-model="input1"
               class="w-50 m-2"
               size="large"
               placeholder="Please Input"
               style="width:201px;height: 32px;"
                />
        </div>
       <div>
            &emsp;<el-button  @click="Inputs()">查询</el-button>
        <el-button type="primary" @click="Poty()">新增</el-button>
        <el-button type="danger" >批量删除</el-button>
        <el-button type="danger"  @click.stop="PostStorp(adminIds)">批量暂停</el-button>
        <el-button type="danger" @click='BatchRestore(adminIds)'>批量恢复</el-button>
        <el-button type="danger" @click='Executestore(adminIds)'>批量立即执行</el-button>
        <el-button type="success" @click="dialogTableVisible = true">日志列表</el-button>
       </div>
    </div>
        <div>
        <el-table :data="tableData" border style="width: 100%"
        @selection-change="handleSelectionChange"
        >
            <el-table-column type="selection" width="55" />
            <el-table-column prop="jobId" label="ID" width="55" show-overflow-tooltip="false" />
            <el-table-column prop="beanName" label="bean名称" width="180" />
            <el-table-column prop="methodName" label="方法名称" />
            <el-table-column prop="params" label="参数" width="180" />
            <el-table-column prop="cronExpression" label="cron表达式" width="180" />
            <el-table-column prop="remark" label="备注" />
            <el-table-column prop="status" label="状态" width="180" >
              <template #default="scope">
      <el-tag v-if="scope.row.status==0" >
        正常
      </el-tag>
      <el-tag v-else >
        禁用
      </el-tag>
      </template>
            </el-table-column>
            <el-table-column label="操作">
      <template #default="scope">
    <el-link type="primary" class="El_link"  @click="handleEdit(scope.$index, scope.row)">修改</el-link>
    <el-link type="success" class="El_link" @click="handleDelete(scope.$index, scope.row)">删除</el-link>
    <el-link type="warning" class="El_link" @click="handStorp(scope.row)">暂停</el-link>
    <el-link type="danger" class="El_link" @click='BacrStoru(scope.row)'>恢复</el-link>
    <el-link type="info" class="El_link" @click='ExecuteImmediately(scope.row)'>立即执行</el-link>
      </template>
    </el-table-column>
        </el-table>
    </div>
    <div>
    </div>
    <Paginato :fath='fath' :page='page' :pageSize='pageSize' @Setpage='Setpage'
      @SetpageSize="'SetpageSize'"
      ></Paginato>
      <el-dialog v-model="dialogTableVisible" title="Shipping address">
        <el-input
               v-model="input2"
               class="w-50 m-2"
               size="large"
               placeholder="Please Input"
               style="width:201px;height: 32px;"
                /> &emsp;<el-button  @click="Input2s()">查询</el-button>
                <p>&emsp;</p>
    <el-table :data="gridData" border>
      <el-table-column property="jobId" label="日志ID" style="width:50px;"/>
      <el-table-column property="logId" label="任务ID" />
      <el-table-column property="beanName" label="bean名称" />
      <el-table-column property="params" label="参数" />
      <el-table-column property="status" label="状态" >
        <template #default="scope">
      <el-tag v-if="scope.row.status==0" >
        正常
      </el-tag>
      <el-tag v-else >
        禁用
      </el-tag>
      </template>
      </el-table-column>
      <el-table-column property="times" label="耗时" />
      <el-table-column property="createTime" label="执行时间" />
    </el-table>
    <Paginato :fath='fath2' :page='page2' :pageSize='pageSize2' @Setpage='Setpage2'
      @SetpageSize="SetpageSize2"
      ></Paginato>
  </el-dialog>
  <el-dialog v-model="dialogFormVisible" :title="title1">
    <el-form :model="form" :rules="rules">
      <el-form-item label="bean名称" :label-width="formLabelWidth">
        <el-input v-model="form.name" autocomplete="off" />
      </el-form-item>
      <el-form-item label="方法名称" :label-width="formLabelWidth">
        <el-input v-model="form.region" autocomplete="off" />
      </el-form-item>
      <el-form-item label="参数" :label-width="formLabelWidth">
        <el-input v-model="form.date1" autocomplete="off" />
      </el-form-item>
      <el-form-item label="cron表达式" :label-width="formLabelWidth">
        <el-input v-model="form.date2" autocomplete="off" />
      </el-form-item>
      <el-form-item label="备注" :label-width="formLabelWidth">
        <el-input v-model="form.resource" autocomplete="off" />
      </el-form-item>
      <el-form-item>
      <el-button type="primary" @click="submitForm()"
        >Create</el-button
      >
      <el-button @click="resetForm()">Reset</el-button>
    </el-form-item>
    </el-form>
    <!-- <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">
          Confirm
        </el-button>
      </span>
    </template> -->
  </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import { ref ,reactive} from 'vue'
import { Search } from '@element-plus/icons-vue'
import Paginato from '../componend/paginato.vue'
import {Timed_Get_Schedule,Timed_Get_ScheduleLog,Timed_Put_ScheduleLog,
  Timed_Post_Pause,Timed_Post_Resume,Timed_Post_Run,
  Timed_Post_Schedule} from '../../../../api/system'
import { fromPairs } from 'lodash';
const dialogTableVisible = ref(false)
const input1 = ref('')
const input2=ref('')
const fath2=ref()
const multipleSelection = ref<any[]>([])
let tableData:any = ref([])
const fath=ref()
let beanName:any=''
let jobId:any=''
let gridData:any = ref([])
let title1=ref('')
const dialogFormVisible = ref(false)
const formLabelWidth = '140px'
const form = reactive({
  name: '',
  region: '',
  date1: '',
  date2: '',
  resource: '',
  jobId:0,
  status:0
})
const Inputs=()=>{
  if(input1.value!=""){
    beanName=input1.value
    console.log(123);
    
  }else{
    beanName=''
   
  }
  table()
}

const Input2s=()=>{
  console.log(123);
  
  if(input2.value!=""){
    jobId=input2.value
    console.log(123);
  }else{
    jobId=''
    console.log(123);
  }
}
let page=1
  let pageSize=10
  let page2=1//日历列表
  let pageSize2=10//日历列表
  const Setpage=(props:number)=>{
   page=props
  console.log(page,pageSize,'pros');          
  table()
}
const SetpageSize=(props:number)=>{
   pageSize=props
console.log(page,pageSize,'pros');
table()
}
const Setpage2=(props:number)=>{//日历列表
   page2=props
  console.log(page,pageSize,'pros');          
  ListData()
}
const SetpageSize2=(props:number)=>{//日历列表
   pageSize2=props
  ListData()
}   
const ListData=async()=>{//日志列表
  console.log(page2,pageSize2,'page2,pageSize2');
  const {data}:any=await Timed_Get_ScheduleLog(page2,pageSize2,jobId)
  gridData.value=data.records
  fath2.value=data.total
}
ListData()
let fage=false
console.log(fage);

const adminIds = ref<number[]>();
const handleSelectionChange = (val: any[]) => {
  multipleSelection.value = val
  console.log(val, 'row')
  adminIds.value=multipleSelection.value.map((item)=>item.jobId as number)
  console.log(adminIds, 'row')

  if(adminIds.value.length!=0){
    fage=true
    console.log(fage,1, 'fage')
  }else{
    fage=false
    console.log(fage,2, 'fage')
  }
}
const handleEdit = (index: number, row: any) => {
  title1.value='编辑'
  dialogFormVisible.value = true
  console.log(index, row)
  form.name=row.beanName
  form.region=row.methodName
  form.date1=row.params
  form.date2=row.cronExpression
  form.resource=row.remark
  form.jobId=row.jobId
  form.status=row.status
}
const Poty=()=>{
  title1.value='新增'
  form.name=''
  form.region=''
  form.date1=''
  form.date2=''
  form.resource=''
  form.status=0
  dialogFormVisible.value = true
}
const handleDelete = (index: number, row: any) => {
  console.log(index, row)
}
const table= async()=>{
 const res:any=await Timed_Get_Schedule(page,pageSize,beanName)
    tableData.value=res.data.records
    fath.value=res.data.total
}
table()
const submitForm =async() => {
  if( title1.value='编辑'){
     dialogFormVisible.value = false
      console.log(form,'form')
     const res=await Timed_Put_ScheduleLog(form)
  }else{
    const ret=await Timed_Post_Schedule(form)
    console.log(ret,'ret');
    
  }
 
  table()
}
const resetForm = () => {
  console.log(form,'form')
  dialogFormVisible.value = false
}

const rules = reactive<any>({
  name: [
    { required: true, message: 'Please input Activity name', trigger: 'blur' },
    { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur',pattern: /^[1-9]\d{0,6}(\.\d{1,3})?$|^0(\.\d{1,3})?$/  },
  ],
  region: [
    {
      required: true,
      message: 'Please select Activity zone',
      trigger: 'change',
    },
  ],
  date1: [
    {
      type: 'date',
      required: true,
      message: 'Please pick a date',
      trigger: 'change',
    },
  ],
  date2: [
    {
      type: 'date',
      required: true,
      message: 'Please pick a time',
      trigger: 'change',
    },
  ],
  resource: [
    {
      required: true,
      message: 'Please select activity resource',
      trigger: 'change',
    },
  ],
})
const adminId = ref<number[]>()
const handStorp=(row:any)=>{
  let num = row.jobId as number
  adminId.value=[num]
  PostStorp(adminId.value)
  
}
const PostStorp=async(data:any)=>{
  const res=await Timed_Post_Pause(data)
  console.log(res,'esr');
  table()
}
const Restore=ref<number[]>()
const BacrStoru=(row:any)=>{
  let run=row.jobId as number
  Restore.value=[run]
  BatchRestore(Restore.value)
}
const BatchRestore=async(data:any)=>{
  console.log(data,'data');
  
const res=await Timed_Post_Resume(data)
table()
}
const Immediately=ref<number[]>()
 const ExecuteImmediately=(row:any)=>{
  let run=row.jobId as number
  Immediately.value=[run]
  Executestore(Immediately.value)
 }
 const Executestore=async(data:any)=>{
  console.log(data,'data');
  
const res=await Timed_Post_Run(data)
table()
}
</script>

<style scoped>
*{
  font-size: 10px;
}
.Timed_head{
    /* display: flex;
    align-items: center; */
    width: 100%;
    height: 62px;
    line-height: 62px;
}
.Timed_head>div{
    float: left;
}
.El_link{
  font-size: 10px;
  border: none;
  margin-left: 5px;
}
.el-button--text {
  margin-right: 15px;
}
.el-select {
  width: 300px;
}
.el-input {
  width: 300px;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>