<template>
  <div class="contentbox">
    <div class="top">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="产品名字">
          <el-input v-model="formInline.name" placeholder="产品名字" />
        </el-form-item>
        <el-form-item label="状态">
          <el-select v-model="formInline.status" placeholder="状态">
            <el-option label="未上架" value="0" />
            <el-option label="上架" value="1" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" :icon="Search" @click="onSubmit">搜索</el-button>
          <el-button :icon="Delete" @click="reset">清空</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="mid">
      <div class="left">
        <el-button type="primary" :icon="Plus">新增</el-button>
        <el-button size="defalt" :disabled="multipleSelection.length ? false : true" type="danger">批量删除</el-button>
      </div>
      <div class="right">
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="刷新">
          <template #reference>
            <el-button :icon="Refresh" circle @click="refresh" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="显隐">
          <template #reference>
            <el-button :icon="Menu" circle @click="setmenu" />
          </template>
        </el-popover>
        <el-popover placement="top" effect="dark" :width="10" trigger="hover" content="搜索">
          <template #reference>
            <el-button :icon="Search" circle  />
          </template>
        </el-popover>
      </div>
    </div>
    <div class="checkBox">
            <span>当前表格已选择 <span style="font-weight:600">{{ multipleSelection.length }}</span> 项</span>
            <el-button type="primary" link @click="toggleSelection()">清 空</el-button>
        </div>
    <div class="bottom">
      <el-table :data="tableData" stripe border ref="multipleTableRef" size="defalt" @selection-change="handleSelectionChange" style="width: 100%">
        <el-table-column align="center" type="selection" width="50" />
        <el-table-column align="center" label="产品名字" min-width="85" v-if="noticeShow[0].showIs">
          <template #default="scope">
            <span>{{ scope.row.prodName }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="oriPrice" align="center" label="商品原价" min-width="85" v-if="noticeShow[1].showIs" />
        <el-table-column align="center" prop="price" label="商品现价" min-width="85" v-if="noticeShow[2].showIs" />
        <el-table-column align="center" label="产品图片" width="130">
          <template #default="scope">
            <img :src="scope.row.pic " style="width:95%;height:90px"/>
        
          </template>
        </el-table-column>
        <el-table-column prop="" label="状态" width="150" align="center" v-if="noticeShow[3].showIs">
            <template #default="scope">
                <el-tag
                  disable-transitions
                  >{{ scope.row.status===1?'上架':'下架' }}</el-tag
                >
            </template>
        </el-table-column>
        <el-table-column align="center" label="" min-width="70" />
        <el-table-column align="center" fixed="right" label="操作" min-width="162">
          <template #default="scope">
            <el-button size="defalt" type="primary" @click="handleEdit(scope.$index, scope.row)" :icon="EditPen">修改
            </el-button>
            <el-button size="defalt" type="danger" @click="handleDelete(scope.$index, scope.row)" :icon="Delete">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>


    <!-- 公共组件-分页器 -->
    <Pagination :total="total" ref="pagination" @getNotice="getNotice" />

    <!-- 公共组件-穿梭框 -->
    <Transfer :noticeShow='noticeShow' :data="data" :arr="arr" ref="T" @getNotice="getNotice" />
  </div>
</template>

<script lang="ts" setup>
import { onMounted, reactive, ref } from 'vue'
import { Search, Plus, Delete, EditPen, Refresh, Menu } from '@element-plus/icons-vue'
import {getProductList} from "../api/request"
import Pagination from "../../../../components/store/pagination.vue"
import Transfer from "../../../../components/store/transfer.vue"
import { ElMessage, ElMessageBox, ElTable } from 'element-plus'
const tableData = ref<any>([])
const multipleSelection = ref<User[]>([])
const multipleTableRef = ref<InstanceType<typeof ElTable>>()
const pagination = ref<any>(null)
const total=ref<number>(0)
const T = ref<any>(null)
console.log(pagination.value,'1231231231')

interface Option {
  key: number
  label?: string
  disabled?: boolean
}

interface User {
  date: string
  name: string
  address: string
}
const formInline = reactive({
  name: '',
  status:''
})

// 穿梭框
const arr = ref([0, 1, 2,3,4])
const data = ref<Option[]>([
  { key: 0, label: '产品名字', disabled: false },
  { key: 1, label: '商品原价', disabled: false },
  { key: 2, label: '商品现价', disabled: false },
  { key: 3, label: '产品图片', disabled: false },
  { key: 4, label: '状态', disabled: false }
])

const noticeShow = reactive([
  { key: 0, showIs: true },
  { key: 1, showIs: true },
  { key: 2, showIs: true },
  { key: 3, showIs: true },
  { key: 4, showIs: true }
])

onMounted(() => {
  getNotice()
})

//获取数据
const getNotice = async () => {
  const res: any = await getProductList({
    size: pagination.value.size,
    current: pagination.value.current
  })
  if(res.status===200){
    tableData.value=res.data.records
    total.value=res.data.total
  }
}


const handleEdit = (index: number, row: User) => {
  console.log(index, row)

}
const handleDelete = (index: number, row: User) => {
  console.log(index, row)
  ElMessageBox.confirm(
    '确定进行删除操作吗？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      // const res=await deleteGurd([row.propId])
      ElMessage({
        type: 'success',
        message: '操作成功',
      })
      setTimeout(()=>{
        getNotice()
      },1000)
    })
    .catch(() => {
      
    })
}



const onSubmit = () => {
  console.log('submit!')
}

const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`)
}
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`)
}

//多选事件
const handleSelectionChange = (val: User[]) => {
  multipleSelection.value = val
  console.log(multipleSelection.value)
}

//清空
const toggleSelection = (rows?: User[]) => {
    // multipleSelection.value = []
    console.log(rows)
    if (rows) {
        rows.forEach((row) => {
            // TODO: improvement typing when refactor table
            // eslint-disable-next-line @typescript-eslint/ban-ts-comment
            // @ts-expect-error
            multipleTableRef.value!.toggleRowSelection(row, undefined)
        })
    } else {
        multipleTableRef.value!.clearSelection()
    }
}

// 右上角  刷新
const refresh = () => {
  getNotice()
}

//穿梭框
const setmenu = () => {
  T.value.dialogTableVisible = true
}

//清空搜索框
const reset=()=>{
  Object.assign(formInline,{
    name: '',
    status:''
  })
}

</script>

<style lang="scss" scoped>
.contentbox {
  width: 95%;
  height: 95%;
  padding: 2.5%;

  .mid {
    min-height: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .bottom {
    margin-top: 10px;
  }
}

.demo-pagination-block {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.el-tag {
  background-color: rgba(2, 161, 233, .1);
}

.el-button--primary {
  background-color: #02A1E9;
  width: 73px;
  height: 32px;
}

.el-button--danger {
  width: 73px;
  height: 32px;
}

.checkBox {
  width: 100%;
  height: 32px;
  line-height: 42px;
}

.checkBox .el-button--primary {
    background: none;
}
</style>